<section class="promo" style="background-image: url('/assets/img/index/main-cover.webp')">
    <div class="container promo__container">
        <div class="promo__content">
            <span class="card-label mb-28">-20%</span>
            <img class="promo__logo mb-20 lazy" data-src="/assets/img/index/promo-logo.svg" alt="Диссонанс лого"
                 width="560" height="70" loading="lazy">
            <p class="promo__text mb-20">
                В далёких альтернативных мирах происходят необычные и красочные истории
            </p>
            <div class="promo__prices mb-16">
                <span class="promo__prices-old">1 500</span>
                <span class="promo__prices-current">960 ₽</span>
            </div>
            <button class="btn mb-60">Купить</button>
            <p class="promo__note">
                Независимое издательство комиксов. <br> Работаем с 2015 года.
            </p>
        </div>
    </div>
</section>
