{% extends '../layouts/base.twig' %}

{% block title %}Страница не найдена{% endblock %}
{% block mainClass %}p-404{% endblock %}

{% block content %}
    <div class="p-404__inner">
        <div class="container p-404__container">
            <h1 class="h1 mb-32">Кажется, тут <br> ничего нет</h1>
            <a class="link" href="/">На главную</a>
        </div>
    </div>
{% endblock %}