{% extends '../layouts/base.twig' %}

{% block title %}Об издательстве{% endblock %}

{% block bodyClass %}p-about{% endblock %}
{% block mainClass %}p-default-text section-page{% endblock %}

{% block content %}
    <div class="p-default-text__inner text-block">
        <div class="container">
            <div class="text-block__container">
                <h1>Об издательстве</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultricies lacinia mauris id hendrerit.
                    Nullam condimentum tortor vel pulvinar pretium. Nullam eleifend lacus metus, id egestas neque
                    interdum ac. Cras neque ligula, scelerisque bibendum sapien condimentum, egestas aliquet risus.
                    Fusce vulputate metus et vehicula ornare. Integer efficitur facilisis elit, ut dignissim mi
                    scelerisque sed. Curabitur facilisis porta velit, ut vulputate eros iaculis quis. Integer hendrerit
                    gravida lorem nec eleifend. Vivamus varius mauris tellus, vel pretium magna scelerisque a. Proin ut
                    urna maximus ligula faucibus rutrum. Nam efficitur mattis nibh, at tristique orci mattis nec. Fusce
                    quis sapien porttitor, tempor felis ac, ullamcorper ligula. Suspendisse eget bibendum leo. Aenean
                    hendrerit convallis lacus, sit amet porttitor tortor venenatis sit amet.
                </p>
            </div>
        </div>
    </div>
{% endblock %}