{% extends '../layouts/base.twig' %}

{% block title %}Карточка товара{% endblock %}
{% block mainClass %}section-page p-card{% endblock %}

{% set breadcrumbs = [
    {
        name: 'Главная',
        url: '/'
    },
    {
        name: 'Каталог товаров',
        url: '/catalog.html'
    },
    {
        name: 'Карточка товара',
        active: 'true'
    },
] %}
{% set chars = [
    {
        term: 'Издательство',
        desc: 'Параллель Комикс'
    },
    {
        term: 'Рейтинг',
        desc: '15+'
    },
    {
        term: 'Кол-во страниц',
        desc: '192'
    },
    {
        term: 'Тип переплёта',
        desc: 'Твердый'
    },
    {
        term: 'Формат',
        desc: '185x275 мм'
    },
    {
        term: 'Суперобложка',
        desc: 'Да'
    },
] %}
{% set castPerson = [
    {
        name: 'Человек-Паук',
        status: 'Питер Паркер',
        img: '/assets/img/card/cast-1.png'
    },
    {
        name: 'Росомаха',
        status: 'Логан',
        img: '/assets/img/card/cast-2.png'
    },
    {
        name: 'Человек-Паук',
        status: 'Питер Паркер',
        img: '/assets/img/card/cast-1.png'
    },
    {
        name: 'Росомаха',
        status: 'Логан',
        img: '/assets/img/card/cast-2.png'
    },
] %}
{% set castAuthors = [
    {
        name: 'Джейсон Аарон',
        status: 'Сценарист',
        img: '/assets/img/card/cast-3.png'
    },
    {
        name: 'Джейсон Аарон',
        status: 'Колорист / Сценарист',
        img: '/assets/img/card/cast-4.png'
    },
    {
        name: 'Джейсон Аарон',
        status: 'Сценарист',
        img: '/assets/img/card/cast-3.png'
    },
    {
        name: 'Джейсон Аарон',
        status: 'Колорист / Сценарист',
        img: '/assets/img/card/cast-4.png'
    },
] %}

{% block content %}
    <div class="p-card__inner"
         style="--cardTopBLock: var(--c-black); background: url('/assets/img/card/card-cover.webp') no-repeat; background-size: cover">
        {% include '../components/custom/breadcrumbs.twig' %}
        <div class="container p-card__top-container mb-52">
            {% include '../components/card-slider.twig' %}
            <h1 class="h1 p-card__title mb-20">
                Человек-паук Россомаха
            </h1>
            <p class="p-card__note mb-28">Ностальническое издание</p>
            <div class="p-card__desc text-block mb-20">
                Эпическое приключение сквозь время и&nbsp;пространство за&nbsp;авторством легендарных сценариста
                комиксов Джейсона Аарона и&nbsp;художника Адама Куберта
            </div>
            <div class="p-card__price-inner mb-28">
                <div class="b-price">
                    <span class="b-price__old">1500</span>
                    <span class="b-price__current">960 ₽</span>
                </div>
                {% include '../components/custom/b-counter.twig' %}
            </div>
            <div class="p-card__btn-inner mb-52">
                <button class="btn p-card__addToCart" type="button">В корзину</button>
                <button class="btn _only-icon b-favorite" type="button">
                    <svg class="icon">
                        <use xlink:href="#like"></use>
                    </svg>
                </button>
            </div>
            <ul class="p-card__chars-list">
                {% for item in chars  %}
                    <li class="p-card__chars-item">
                        <span class="p-card__chars-item-term">{{ item.term }}:</span>
                        <span class="p-card__chars-item-desc">{{ item.desc }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="container p-card__cast-container mb-28 js-cast-all-cast _hide">
            <div class="p-card__cast-inner">
                <div class="p-card__cast">
                    <p class="p-card__cast-title-inner mb-28">
                        <span class="p-card__cast-title">Персонажи</span>
                        <span class="p-card__cast-num">26</span>
                    </p>
                    <ul class="p-card__cast-list">
                        {% for item in castPerson  %}
                            <li class="p-card__cast-item">
                                <img class="p-card__cast-item-img lazy" data-src="{{ item.img }}" alt="{{ item.name }}">
                                <span class="p-card__cast-item-name">{{ item.name }}</span>
                                <span class="p-card__cast-item-status">{{ item.status }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="p-card__cast">
                    <p class="p-card__cast-title-inner mb-28">
                        <span class="p-card__cast-title">Авторы</span>
                        <span class="p-card__cast-num">16</span>
                    </p>
                    <ul class="p-card__cast-list">
                        {% for item in castAuthors  %}
                            <li class="p-card__cast-item">
                                <img class="p-card__cast-item-img lazy" data-src="{{ item.img }}" alt="{{ item.name }}">
                                <span class="p-card__cast-item-name">{{ item.name }}</span>
                                <span class="p-card__cast-item-status">{{ item.status }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <button class="link p-card__cast-more js-cast-more" type="button">Показать больше</button>
    </div>
    <section class="p-marvel-favorite__cover mb-60">
        <img class="p-marvel-favorite__cover-img lazy" data-src="/assets/img/marvel-favorites/marvel-cover.webp"
             alt="Марвел избранное" width="100%" height="600" loading="lazy">
        <div class="container">
            <div class="text-block p-marvel-favorite__content mb-60">
                <h1 class="h1 p-marvel-favorite__title mb-60">«Marvel – Избранное»</h1>
                <div class="text-block__column mb-100">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor erat a diam egestas, et
                        fermentum eros maximus. Curabitur accumsan interdum urna quis dapibus. Duis placerat elementum
                        rhoncus. Duis iaculis libero ut velit hendrerit, imperdiet varius elit posuere.
                    </p>
                    <img src="/assets/img/marvel-favorites/marvel-1.webp" alt="" loading="lazy">
                </div>
                <div class="text-block__column">
                    <img src="/assets/img/marvel-favorites/marvel-2.webp" alt="" loading="lazy">
                    <p>
                        Aliquam vel auctor massa. Duis maximus scelerisque felis, eget lacinia neque maximus vel. Nam
                        erat urna, rutrum in pellentesque id, bibendum in magna. In pulvinar lacus id lacinia molestie.
                        Mauris metus sapien, mollis congue tincidunt ut, malesuada in nunc. Nulla facilisi. Proin nec
                        nunc tristique, dignissim velit at, pellentesque turpis. Suspendisse elementum a nisl ac
                        tincidunt. Duis malesuada porta orci, in dictum purus dignissim a.
                    </p>
                </div>
            </div>
        </div>
        <img class="p-marvel-favorite__cover-img lazy" data-src="/assets/img/marvel-favorites/marvel-3.webp"
             alt="Марвел избранное" width="100%" height="700" loading="lazy">
    </section>
    {% include '../components/all-series.twig' %}
{% endblock %}