{% extends '../layouts/base.twig' %}

{% block title %}Каталог{% endblock %}

{% set catalog = [
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-1.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Ностальгическое издание',
        series_type_color: '#FCC733',
        price: 960,
        price_old: 1500,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-2.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'ЭДК – Издание',
        series_type_color: '#FFFFFF',
        price: 960,
        price_old: 1400,
        age: '18+'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-3.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        price: 1260,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Человек-паук:Грусть',
        img: '/assets/img/catalog/item-4.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Коллекционное издание',
        series_type_color: '#548FDD',
        price: 2800,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-1.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Ностальгическое издание',
        series_type_color: '#FCC733',
        price: 960,
        price_old: 1500,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-2.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'ЭДК – Издание',
        series_type_color: '#FFFFFF',
        price: 960,
        price_old: 1400,
        age: '18+'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-3.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        price: 1260,
        age: '16+'
    },
    {
        name: 'Человек-паук:Грусть',
        img: '/assets/img/catalog/item-4.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Коллекционное издание',
        series_type_color: '#548FDD',
        price: 2800,
        age: '16+',
        stock: 'out'
    }
] %}

{% block content %}
    <section class="p-catalog">
        <div class="promo-section mb-100"
             style="--promoSectionBgColor: rgba(53, 63, 122, 0.8); background: url('/assets/img/custom/promo-4.webp') no-repeat center; background-size: cover">
            <div class="container promo-section__container">
                <div class="promo-section__content">
                    <h2 class="h1 promo__title">Авторские комиксы</h2>
                    <p class="promo__text">Отечественные комиксы различной тематики</p>
                </div>
            </div>
        </div>
        <div class="p-catalog__list">
            <div class="container new-items__card-list">
                {% for item in catalog %}
                    {% include '../components/card.twig' %}
                {% endfor %}
            </div>
        </div>
        {% include '../components/company-intro.twig' %}
    </section>
{% endblock %}