{% extends '../layouts/base.twig' %}

{% set contacts = [
    {
        desc: 'Телефон',
        text: '<a href="tel:+7000000000">+7 (000) 000-00-00</a><br> ПН-ВС: 11:00-21:00'
    },
    {
        desc: 'Сотрудничество',
        text: '<a href="mailto:parallel@comics.ru">parallel@comics.ru</a>'
    },
    {
        desc: 'Поддержка',
        text: '<a href="mailto:parallel_help@comics.ru">parallel_help@comics.ru</a>'
    },
    {
        desc: 'Почта',
        text: '<a href="mailto:parallel@comics.ru">parallel@comics.ru</a>'
    },
] %}
{% set accordion = [
    {
        name: 'Владелец ООО &laquo;Параллель Комикс&raquo;',
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, molestiae, vel? Aliquam cumque dicta earum facere perferendis similique vel vitae? Ad asperiores ducimus explicabo fuga illo, iusto pariatur quo unde.'
    },
    {
        name: 'Дистрибьютор ООО &laquo;Торговая Компания Параллель&raquo;',
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, molestiae, vel? Aliquam cumque dicta earum facere perferendis similique vel vitae? Ad asperiores ducimus explicabo fuga illo, iusto pariatur quo unde.'
    }
] %}

{% block title %}Контакты{% endblock %}

{% block bodyClass %}p-contacts{% endblock %}
{% block mainClass %}section-page{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h1 mb-32">Контакты</h1>
        <div class="p-contacts__contacts-list mb-60">
            {% for item in contacts %}
                <div class="p-contacts__contacts-item">
                    <span class="p-contacts__contacts-item-term">{{ item.desc }}</span>
                    <p class="p-contacts__contacts-item-text">{{ item.text | raw }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="p-contacts__inner">
            <section class="accordion p-contacts__info">
                {% for item in accordion %}
                    <div class="accordion__item">
                        <div class="accordion__btn link">
                            <span class="accordion__btn-text">{{ item.name | raw }}</span>
                        </div>
                        <div class="accordion__text">{{ item.text | raw }}</div>
                    </div>
                {% endfor %}
            </section>
            <div class="b-pickup__address">
                <div class="b-pickup__address-map mb-20" id="map"></div>
                <ul class="b-pickup__address-list">
                    <li class="p-contacts__contacts-item">
                        <span class="p-contacts__contacts-item-term">Адрес самовывоза</span>
                        <p class="p-contacts__contacts-item-text">Москва, Большой Ордынский пер., 3</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1eb6ac7b-3fe6-4af6-a4da-3a7adc3c94ac"></script>
    <script>
        ymaps.ready(function () {
            let myMap = new ymaps.Map('map',
                {
                    center: [55.734623, 37.626879],
                    zoom: 12
                }),
                myPlacemark = new ymaps.Placemark(myMap.getCenter(),
                    {
                        hintContent: 'Адрес точки самовывоза',
                        balloonContent: 'Москва, Большой Ордынский пер., 3'
                    },
                    {
                        // Необходимо указать данный тип макета.
                        iconLayout: 'default#image',
                        // Своё изображение иконки метки.
                        iconImageHref: '/assets/img/logo-icon-red.svg',
                        // Размеры метки.
                        iconImageSize: [42, 52],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-5, -38]
                    });
            myMap.geoObjects.add(myPlacemark);
        });
    </script>
{% endblock %}