{% extends '../layouts/base.twig' %}

{% block title %}Способы доставки{% endblock %}
{% block mainClass %}p-default-text section-page{% endblock %}

{% block content %}
    <div class="p-default-text__inner text-block">
        <div class="container">
            <div class="text-block__container">
                <h1>Доставка</h1>
                <p>
                    В&nbsp;настоящий момент получить свой заказ вы&nbsp;можете тремя способами: самовывозом, Почтой
                    России и&nbsp;службой
                    СДЭК. Обращаем ваше внимание на&nbsp;то, что оформить доставку через корзину сайта можно только по&nbsp;России,
                    если вы&nbsp;живете в&nbsp;другой стране и&nbsp;хотите заказать наши комиксы напишите на&nbsp;
                    <a href="mailto:help@parallel.ru">help@parallel.ru</a>!
                </p>
                <p>
                    International Shipping
                    You can order any goods from our shop and we&nbsp;will deliver them to&nbsp;any country. Just
                    contact&nbsp;us via our email help@parallel.ru. For international orders we&nbsp;only accept PayPal.
                </p>
                <h2>Самовывоз</h2>
                <p>
                    Самый быстрый и&nbsp;дешевый способ доставки, но, к&nbsp;сожалению, он&nbsp;доступен только для
                    жителей Москвы.
                </p>
                <p>
                    Как это работает: вы&nbsp;оформляете заказ, выбираете в&nbsp;способе доставки &laquo;Самовывоз&raquo;,
                    выбираете адрес и оплачиваете заказ.
                </p>
                <p>
                    Забрать заказ можно после того, как статус заказа изменится на&nbsp;&laquo;Ожидает&raquo; в&nbsp;вашем
                    профиле. Как правило, заказ можно забрать уже на&nbsp;следующий день.
                </p>
            </div>
        </div>
    </div>
{% endblock %}