{% extends '../layouts/base.twig' %}

{% block title %}FAQ{% endblock %}
{% block mainClass %}section-page p-faq{% endblock %}

{% set accordion = [
    {
        name: 'Как я могу забрать свой заказ?',
        text: '<p>Самый быстрый и дешевый способ доставки, но, к сожалению, он доступен только для жителей Москвы.</p><p>Как это работает: вы оформляете заказ, выбираете в способе доставки "Самовывоз", выбираете адрес и оплачиваете заказ.</p><p>Забрать заказ можно после того, как статус заказа изменится на “Ожидает” в вашем профиле. Как правило, заказ можно забрать уже на следующий день.</p>'
    },
    {
        name: 'Как я могу забрать свой заказ?',
        text: '<p>Самый быстрый и дешевый способ доставки, но, к сожалению, он доступен только для жителей Москвы.</p><p>Как это работает: вы оформляете заказ, выбираете в способе доставки "Самовывоз", выбираете адрес и оплачиваете заказ.</p><p>Забрать заказ можно после того, как статус заказа изменится на “Ожидает” в вашем профиле. Как правило, заказ можно забрать уже на следующий день.</p>'
    },
    {
        name: 'Как я могу забрать свой заказ?',
        text: '<p>Самый быстрый и дешевый способ доставки, но, к сожалению, он доступен только для жителей Москвы.</p><p>Как это работает: вы оформляете заказ, выбираете в способе доставки "Самовывоз", выбираете адрес и оплачиваете заказ.</p><p>Забрать заказ можно после того, как статус заказа изменится на “Ожидает” в вашем профиле. Как правило, заказ можно забрать уже на следующий день.</p>'
    },
] %}

{% block content %}
    <div class="container">
        <h1 class="h1 mb-32">FAQ</h1>
        <div class="p-faq__questions-list">
            <section class="accordion">
                {% for item in accordion %}
                    <div class="accordion__item">
                        <div class="accordion__btn link">
                            <span class="accordion__btn-text">{{ item.name }}</span>
                            <svg class="icon"><use xlink:href="#arrow-faq"></use></svg>
                        </div>
                        <div class="accordion__text text-block">{{ item.text | raw }}</div>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}