{% extends '../layouts/base.twig' %}

{% block title %}Личный кабинет{% endblock %}
{% block mainClass %}section-page{% endblock %}
{% set subMenu = [
    {
        name: 'Профиль',
        link: '/lk.html'
    },
    {
        name: 'Избранное',
        status: 'active'
    },
    {
        name: 'История заказов',
        link: '/history.html'
    },
] %}
{% set favorites = [
    {
        name: 'Поразительные Человек-паук и Росомаха Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        note_color: '#548FDD',
        img: '/assets/img/catalog/item-2.webp',
        price: '1 200 ₽',
        status: 'active'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        note_color: '#548FDD',
        img: '/assets/img/catalog/item-2.webp',
        price: '11 200 ₽',
        status: 'active'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        note_color: '#548FDD',
        img: '/assets/img/catalog/item-2.webp',
        price: '1 200 ₽',
        status: 'active'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        note_color: '#548FDD',
        img: '/assets/img/catalog/item-2.webp',
        price: '1 200 ₽',
        status: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        note_color: '#548FDD',
        img: '/assets/img/catalog/item-2.webp',
        price: '1 200 ₽',
        status: 'out'
    }
] %}

{% block content %}
    <section class="p-lk">
        <div class="container">
            <h1 class="p-lk__title mb-60">Избранное</h1>
            <p class="p-lk__name mb-60">John Galt</p>
            {% include '../components/lk-menu.twig' %}
            <div class="p-lk__favorites-list">
                {% for item in favorites %}
                    {% if(favorites) %}
                        <article class="p-lk__favorites-item {% if(item.status == 'out') %}_out{% endif %}">
                            <span class="p-lk__favorites-item-age card-label _age">16+</span>
                            <img class="p-lk__favorites-item-img" src="{{ item.img }}" alt="{{ item.name }}">
                            <div class="p-lk__favorites-item-inner">
                                <span class="p-lk__favorites-item-series">{{ item.series }}</span>
                                <span class="p-lk__favorites-item-note" style="color: {{ item.note_color }}">
                                    {{ item.note }}
                                </span>
                                <p class="p-lk__favorites-item-name">{{ item.name }}</p>
                            </div>
                            <span class="p-lk__favorites-item-price">{{ item.price }}</span>
                            <div class="p-lk__favorites-item-btn-inner">
                                {% if(item.status == 'out') %}
                                    <button class="btn _border" type="button">Сообщить о&nbsp;поступлении</button>
                                {% else %}
                                    <button class="btn _border" type="button">В корзине</button>
                                {% endif %}
                                <button class="btn _only-icon b-favorite _active">
                                    <svg class="icon"><use xlink:href="#like"></use></svg>
                                </button>
                            </div>
                        </article>
                    {% else %}
                        <p class="p-lk__favorites-none">
                            Вы&nbsp;пока ничего не&nbsp;добавили в&nbsp;избранное
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
