{% extends '../layouts/base.twig' %}

{% block title %}Личный кабинет{% endblock %}
{% block mainClass %}section-page{% endblock %}

{% block content %}
    <section class="p-lk">
        <div class="container">
            <h1 class="p-lk__title mb-60">История заказов</h1>
            <p class="p-lk__name mb-60">John Galt</p>
            {% include '../components/lk-menu.twig' %}
            <p class="p-lk__title mb-32">Активные заказы</p>
            <div class="p-lk__history-list mb-60">
                {% include '../components/current-order.twig' %}
                {% include '../components/current-order.twig' %}
            </div>
            <p class="p-lk__title mb-32">Завершённые заказы</p>
            <div class="p-lk__history-list _completed">
                {% include '../components/current-order.twig' %}
                {% include '../components/current-order.twig' %}
            </div>
        </div>
    </section>
{% endblock %}
