{% extends '../layouts/base.twig' %}

{% block title %}Главная{% endblock %}

{% set promoSection1 = [
    {
        title: '«Marvel – Избранное»',
        text: 'Лучшие истории фантастического мира «Marvel» в премиальном издании',
        link: '/marvel-favorite.html',
        img: '/assets/img/custom/promo-1.webp',
        colorBg: 'rgba(135,84,89, 0.8)',
    },
    {
        title: 'Эксклюзивы',
        text: 'Только в нашем магазине!',
        link: '/catalog.html',
        img: '/assets/img/custom/promo-2.webp',
        colorBg: 'rgba(240, 94, 45, 0.8)',
    }
] %}
{% set promoSection2 = [
    {
        title: '«Marvel – OGN»',
        text: 'Идеальная возможность познакомится с различными уголками вселенной «Marvel» ',
        link: '/catalog.html',
        img: '/assets/img/custom/promo-3.webp',
        colorBg: 'rgba(52, 83, 87, 0.8)',
    },
    {
        title: 'Авторские комиксы',
        text: 'Отечественные комиксы различной тематики',
        link: '/catalog.html',
        img: '/assets/img/custom/promo-4.webp',
        colorBg: 'rgba(53, 63, 122, 0.8)',
    },
    {
        title: 'Мерч',
        text: 'Различные товары гиковской тематики',
        link: '/catalog.html',
        img: '/assets/img/custom/promo-5.webp',
        colorBg: 'transparent',
    }
] %}

{% block content %}
    {% include '../components/index/promo.twig' %}
    {% include '../components/new-items.twig' %}
    {% for item in promoSection1 %}
        {% include '../components/promo-section.twig' %}
    {% endfor %}
    {% include '../components/recommend-item.twig' %}
    {% for item in promoSection2 %}
        {% include '../components/promo-section.twig' %}
    {% endfor %}
    {% include '../components/company-intro.twig' %}
{% endblock %}