{% extends '../layouts/base.twig' %}

{% block title %}Личный кабинет{% endblock %}
{% block mainClass %}section-page{% endblock %}
{% set subMenu = [
    {
        name: 'Профиль',
        status: 'active'
    },
    {
        name: 'Избранное',
        link: '/favorites.html'
    },
    {
        name: 'История заказов',
        link: '/history.html'
    },
] %}

{% block content %}
    <section class="p-lk">
        <div class="container">
            <h1 class="p-lk__title mb-60">Редактировать профиль</h1>
            <p class="p-lk__name mb-60">John Galt</p>
            {% include '../components/lk-menu.twig' %}
            <form class="form p-lk__form" action="" id="profile">
                <p class="p-lk__title">Личные данные</p>
                <div class="form__col-3 mb-32">
                    <div class="input _required _with-label">
                        <label class="input__label" for="lk_name">Имя</label>
                        <input class="input__text" type="text" name="lk_name" id="lk_name" required>
                    </div>
                    <div class="input _required _with-label">
                        <label class="input__label" for="lk_surname">Фамилия</label>
                        <input class="input__text" type="text" name="lk_surname" id="lk_surname" required>
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_patronymic">Отчество</label>
                        <input class="input__text" type="text" name="lk_patronymic" id="lk_patronymic">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_birthday">Дата рождения</label>
                        <input class="input__text input-date" type="text" name="lk_birthday" id="lk_birthday">
                    </div>
                    <div class="input _required _with-label">
                        <label class="input__label" for="lk_email">Почта</label>
                        <input class="input__text" type="email" name="lk_email" id="lk_email" required>
                    </div>
                    <div class="input _with-label _required">
                        <label class="input__label" for="lk_phone">Телефон</label>
                        <input class="input__text" type="tel" name="lk_phone" id="lk_phone" required>
                    </div>
                </div>

                <p class="p-lk__title">Данные для входа</p>
                <div class="form__col-3  mb-32">
                    <div class="input _with-label">
                        <label class="input__label" for="lk_login">Логин</label>
                        <input class="input__text" type="text" name="lk_login" id="lk_login">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_pass">Пароль</label>
                        <input class="input__text" type="password" name="lk_pass" id="lk_pass">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_pass_repeat">Повторите пароль</label>
                        <input class="input__text" type="password" name="lk_pass_repeat" id="lk_pass_repeat">
                    </div>
                </div>

                <p class="p-lk__title">Данные для доставки</p>
                <div class="form__col-3">
                    <div class="input _with-label">
                        <label class="input__label" for="lk_country">Страна</label>
                        <input class="input__text" type="text" name="lk_country" id="lk_country">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_oblast">Область</label>
                        <input class="input__text" type="text" name="lk_oblast" id="lk_oblast">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_city">Город</label>
                        <input class="input__text" type="text" name="lk_city" id="lk_city">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_street">Улица</label>
                        <input class="input__text" type="text" name="lk_street" id="lk_street">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_house">Дом</label>
                        <input class="input__text" type="text" name="lk_house" id="lk_house">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_flat">Квартира</label>
                        <input class="input__text" type="text" name="lk_flat" id="lk_flat">
                    </div>
                    <div class="input _with-label">
                        <label class="input__label" for="lk_postcode">Индекс</label>
                        <input class="input__text" type="number" name="lk_postcode" id="lk_postcode">
                    </div>
                </div>
                <div class="form__col-3">
                    <div class="">
                        <button class="btn p-lk__form-submit" type="submit">Сохранить</button>
                        <p class="p-lk__form-notice">Данные успешно сохранены</p>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
