{% extends '../layouts/base.twig' %}

{% block title %}Марвел избранное{% endblock %}
{% block mainClass %}p-marvel-favorite section-page _no-top{% endblock %}

{% set catalog = [
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-1.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Ностальгическое издание',
        series_type_color: '#FCC733',
        price: 960,
        price_old: 1500,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-2.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'ЭДК – Издание',
        series_type_color: '#FFFFFF',
        price: 960,
        price_old: 1400,
        age: '18+'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-3.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        price: 1260,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Человек-паук:Грусть',
        img: '/assets/img/catalog/item-4.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Коллекционное издание',
        series_type_color: '#548FDD',
        price: 2800,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-1.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Ностальгическое издание',
        series_type_color: '#FCC733',
        price: 960,
        price_old: 1500,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-2.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'ЭДК – Издание',
        series_type_color: '#FFFFFF',
        price: 960,
        price_old: 1400,
        age: '18+'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-3.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        price: 1260,
        age: '16+'
    },
    {
        name: 'Человек-паук:Грусть',
        img: '/assets/img/catalog/item-4.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Коллекционное издание',
        series_type_color: '#548FDD',
        price: 2800,
        age: '16+',
        stock: 'out'
    }
] %}

{% block content %}
    <section class="p-marvel-favorite__cover mb-60">
        <img class="p-marvel-favorite__cover-img lazy" data-src="/assets/img/marvel-favorites/marvel-cover.webp"
             alt="Марвел избранное" width="100%" height="600" loading="lazy">
        <div class="container">
            <div class="text-block p-marvel-favorite__content mb-60">
                <h1 class="h1 p-marvel-favorite__title mb-60">«Marvel – Избранное»</h1>
                <div class="text-block__column mb-100">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor erat a diam egestas, et
                        fermentum eros maximus. Curabitur accumsan interdum urna quis dapibus. Duis placerat elementum
                        rhoncus. Duis iaculis libero ut velit hendrerit, imperdiet varius elit posuere.
                    </p>
                    <img src="/assets/img/marvel-favorites/marvel-1.webp" alt="" loading="lazy">
                </div>
                <div class="text-block__column">
                    <img src="/assets/img/marvel-favorites/marvel-2.webp" alt="" loading="lazy">
                    <p>
                        Aliquam vel auctor massa. Duis maximus scelerisque felis, eget lacinia neque maximus vel. Nam
                        erat urna, rutrum in pellentesque id, bibendum in magna. In pulvinar lacus id lacinia molestie.
                        Mauris metus sapien, mollis congue tincidunt ut, malesuada in nunc. Nulla facilisi. Proin nec
                        nunc tristique, dignissim velit at, pellentesque turpis. Suspendisse elementum a nisl ac
                        tincidunt. Duis malesuada porta orci, in dictum purus dignissim a.
                    </p>
                </div>
            </div>
        </div>
        <img class="p-marvel-favorite__cover-img lazy" data-src="/assets/img/marvel-favorites/marvel-3.webp"
             alt="Марвел избранное" width="100%" height="700" loading="lazy">
    </section>
    <div class="p-catalog__list">
        <div class="container new-items__card-list">
            {% for item in catalog %}
                {% include '../components/card.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}