{% extends '../layouts/base.twig' %}

{% block title %}Оформление заказа{% endblock %}
{% block mainClass %}p-order section-page{% endblock %}
{% set deliveryList = [
    {
        img: '/assets/img/order/boxberry.svg',
        to: 'До двери',
        deadline: '1 день',
        cost: '500 руб.'
    },
    {
        img: '/assets/img/order/cdek.svg',
        to: 'До пункта выдачи',
        deadline: '1 день',
        cost: '500 руб.'
    },
    {
        img: '/assets/img/order/dhl.svg',
        to: 'До двери',
        deadline: '1 день',
        cost: '500 руб.'
    },
    {
        img: '/assets/img/order/dpd.svg',
        to: 'До двери',
        deadline: '1 день',
        cost: '500 руб.'
    },
    {
        img: '/assets/img/order/pochta.svg',
        to: 'До двери',
        deadline: '1 день',
        cost: '500 руб.'
    },
] %}
{% set orderAside = [
    {
        term: 'Количество товаров',
        desc: '2 шт'
    },
    {
        term: 'Вес товаров',
        desc: '1 кг'
    },
    {
        term: 'Доставка',
        desc: '500 ₽'
    },
    {
        term: 'Промокод',
        desc: 'нет'
    },
] %}

{% block content %}
    <div class="container p-order__container">
        <div class="mb-52 p-order__path">
            <ul class="p-order__path-list">
                <li class="js-path-all js-path-first p-order__path-item _active">
                    <span>Оформление заказа</span>
                </li>
                <li class="js-path-all js-path-second p-order__path-item">
                    <span>Данные получателя</span>
                </li>
                <li class="js-path-all js-path-third p-order__path-item">
                    <span>Подтверждение заказа</span>
                </li>
            </ul>
        </div>
        <section id="firstStep" class="order-first-step p-order__step js-order-steps">
            <p class="p-order__step-title">Данные о доставке</p>
            <div class="order-first-step__form mb-60 form form__inner">
                <div class="input _with-label _required">
                    <label class="input__label" for="order_country">Страна</label>
                    <input class="input__text" type="text" id="order_country" name="order_country" required>
                </div>
                <div class="input _with-label _required">
                    <label class="input__label" for="order_country">Область</label>
                    <input class="input__text" type="text" id="order_country" name="order_country" required>
                </div>
                <div class="input _with-label _required">
                    <label class="input__label" for="order_country">Город</label>
                    <input class="input__text" type="text" id="order_country" name="order_country" required>
                </div>
            </div>
            <p class="p-order__step-title">Варианты доставки</p>
            <div class="p-order__tabs js-order-tabs-btn">
                <div class="p-order__tabs-btns tabs__btns">
                    <button class="p-order__tabs-item" data-type='tab-btn' data-tab-link='points' type="button">Пункты
                        выдачи
                    </button>
                    <button class="p-order__tabs-item" data-type='tab-btn' data-tab-link='courier' type="button">
                        Курьер
                    </button>
                    <button class="p-order__tabs-item" data-type='tab-btn' data-tab-link='mail' type="button">Почта
                    </button>
                    <button class="p-order__tabs-item" data-type='tab-btn' data-tab-link='pickup' type="button">
                        Самовывоз
                    </button>
                </div>
                <div class="tabs__content">
                    <div class="tabs__content-item p-order__delivery-list" data-type='tab-content' data-tab-item='points'>
                        {% for item in deliveryList %}
                            <div class="p-order__delivery-item">
                                <img class="p-order__delivery-item-img" src="{{ item.img }}" alt="">
                                <p class="p-order__delivery-item-text">{{ item.to }}</p>
                                <p class="p-order__delivery-item-text">{{ item.deadline }}</p>
                                <strong class="p-order__delivery-item-text _price">{{ item.cost }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tabs__content-item" data-type='tab-content' data-tab-item='courier'>
                        Варианты доставки курьером
                    </div>
                    <div class="tabs__content-item" data-type='tab-content' data-tab-item='mail'>
                        Варианты доставки почтой
                    </div>
                    <div class="tabs__content-item b-pickup" data-type='tab-content' data-tab-item='pickup'>
                        <div class="b-pickup__address-map  mb-20" id="map"></div>
                        <ul class="b-pickup__address-list">
                            <li class="p-contacts__contacts-item">
                                <span class="p-contacts__contacts-item-term">Адрес самовывоза</span>
                                <p class="p-contacts__contacts-item-text">Москва, Большой Ордынский пер., 3</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-order__btn-inner">
                <button class="btn _c-primary _border js-go-second-step" type="button">Далее</button>
            </div>
        </section>
        <section id="secondStep" class="hidden p-order__step js-order-steps form">
            <p class="p-order__step-title">Данные</p>
            <div class="form__inner">
                <div class="input _with-label _required">
                    <label class="input__label" for="order_name">Имя</label>
                    <input class="input__text" type="text" id="order_name" name="order_name" required>
                </div>
                <div class="input  _with-label _required">
                    <label class="input__label" for="order_surname">Фамилия</label>
                    <input class="input__text" type="text" id="order_surname" name="order_surname" required>
                </div>
            </div>
            <div class="input">
                <label class="input__label" for="order_patronymic">Отчество</label>
                <input class="input__text" type="text" id="order_patronymic" name="order_patronymic">
            </div>
            <div class="form__inner">
                <div class="input _with-label _required">
                    <label class="input__label" for="order_phone">Телефон</label>
                    <input class="input__text phone" type="tel" id="order_phone" name="order_phone" required>
                </div>
                <div class="input _with-label">
                    <label class="input__label" for="order_dopPhone">Дополнительный телефон</label>
                    <input class="input__text phone" type="tel" id="order_dopPhone" name="order_dopPhone">
                </div>
            </div>
            <div class="input">
                <label class="input__label" for="order_email">Email</label>
                <input class="input__text" type="email" id="order_email" name="order_email">
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="order_newsletter" name="order_newsletter">
                <label class="checkbox__label link" for="order_newsletter">
                    <span>Я не против получать новости и предложения</span>
                </label>
            </div>
            <div class="input">
                <label class="input__label" for="order_address">Адрес доставки</label>
                <input class="input__text" type="text" id="order_address" name="order_address">
            </div>
            <div class="input">
                <label class="input__label" for="order_zipcode">Индекс</label>
                <input class="input__text" type="text" id="order_zipcode" name="order_zipcode">
            </div>
            <div class="p-order__btn-inner">
                <button class="link _revert js-go-first-step js-go-first-step" type="button">Назад</button>
                <button class="btn _c-primary _border js-go-third-step" type="button">Далее</button>
            </div>
        </section>
        <section id="thirdStep" class="hidden p-order__step js-order-steps">
            <p class="p-order__step-title">Товары в заказе</p>
            <div class="p-order__order-list mb-60">
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="p-order__order-info-list mb-32">
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Получатель</span>
                    <p class="p-order__order-info-item-term">
                        Иванов Иван Иванович, +437238924983, example@mail.com
                    </p>
                </div>
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Способ доставки</span>
                    <p class="p-order__order-info-item-term">CDEK, До двери, 1 день</p>
                </div>
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Адрес доставки</span>
                    <p class="p-order__order-info-item-term">
                        Россия, Московская область, Москва, Пушкина 123
                    </p>
                </div>
            </div>
            <div class="input _textarea mb-20">
                <textarea class="input__text" placeholder="Коментарий к заказу"></textarea>
            </div>
            <div class="checkbox mb-20">
                <input class="checkbox__input" type="checkbox" id="politics" name="politics">
                <label class="checkbox__label link" for="politics">
                    <span>Я прочитал и согласен с условиями политики обработки персональных данных</span>
                </label>
            </div>
            <div class="p-order__btn-inner">
                <button class="link _revert js-go-second-step" type="button">Назад</button>
                <button class="btn" type="button">Перейти к оплате</button>
            </div>
        </section>
        <aside class="order-aside">
            <span class="order-aside__title mb-20">Итого</span>
            {% for item in orderAside %}
                <div class="order-aside__row">
                    <span class="order-aside__term">{{ item.term }}</span>
                    <span class="order-aside__desc">{{ item.desc }}</span>
                </div>
            {% endfor %}
            <div class="order-aside__total">6 800 ₽</div>
        </aside>
    </div>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1eb6ac7b-3fe6-4af6-a4da-3a7adc3c94ac"></script>
    <script>
        ymaps.ready(function () {
            let myMap = new ymaps.Map('map',
                {
                    center: [55.734623, 37.626879],
                    zoom: 12
                }),
                myPlacemark = new ymaps.Placemark(myMap.getCenter(),
                    {
                        hintContent: 'Адрес точки самовывоза',
                        balloonContent: 'Москва, Большой Ордынский пер., 3'
                    },
                    {
                        // Необходимо указать данный тип макета.
                        iconLayout: 'default#image',
                        // Своё изображение иконки метки.
                        iconImageHref: '/assets/img/logo-icon-red.svg',
                        // Размеры метки.
                        iconImageSize: [42, 52],
                        // Смещение левого верхнего угла иконки относительно
                        // её "ножки" (точки привязки).
                        iconImageOffset: [-5, -38]
                    });
            myMap.geoObjects.add(myPlacemark);
        });
    </script>
{% endblock %}