{% extends '../layouts/base.twig' %}

{% block title %}Способы доставки{% endblock %}
{% block mainClass %}p-default-text section-page{% endblock %}

{% block content %}
    <div class="p-default-text__inner text-block">
        <div class="container">
            <div class="text-block__container">
                <h1>Политика конфиденциальности</h1>
                <p>1. Термины и&nbsp;определения</p>
                <p>
                    Сайт&nbsp;&mdash; совокупность программных и&nbsp;аппаратных средств для ЭВМ, обеспечивающих
                    публикацию информации и
                    данных, объединенных общим целевым назначением, посредством технических средств, применяемых для
                    связи между ЭВМ в&nbsp;сети Интернет. Под Сайтом в&nbsp;Положении понимается Сайт, расположенный в&nbsp;сети
                    Интернет по&nbsp;адресу: <a href="parallelcomics.ru">parallelcomics.ru</a>
                </p>
                <p>
                    Пользователь&nbsp;&mdash; пользователь сети Интернет&nbsp;и, в&nbsp;частности, Сайта, имеющий свою
                    личную страницу (профиль/аккаунт).
                </p>
                <p>
                    Федеральный закон (ФЗ)&nbsp;&mdash; Федеральный закон от&nbsp;27&nbsp;июля 2006&nbsp;г. &#8470;&nbsp;152&nbsp;ФЗ
                    &laquo;О&nbsp;персональных данных&raquo;.
                </p>
                <p>
                    Персональные данные&nbsp;&mdash; любая информация, относящаяся прямо или косвенно к&nbsp;определенному
                    или определяемому физическому лицу (субъекту персональных данных).
                </p>
            </div>
        </div>
    </div>
{% endblock %}