{% extends '../layouts/base.twig' %}

{% block title %}Способы доставки{% endblock %}
{% block mainClass %}p-default-text section-page{% endblock %}

{% block content %}
    <div class="p-default-text__inner text-block">
        <div class="container">
            <div class="text-block__container">
                <h1>Обмен и&nbsp;Возврат</h1>
                <p>
                    Обращаем ваше внимание на&nbsp;то, что книги надлежащего качества согласно Перечню
                    непродовольственных
                    товаров надлежащего качества, не&nbsp;подлежащих возврату или обмену на&nbsp;аналогичный товар
                    других размера,
                    формы, габарита, фасона, расцветки или комплектации ВОЗВРАТУ НЕ&nbsp;ПОДЛЕЖАТ! <br>
                    Подробнее на&nbsp;<a href="https://parallelcomics.ru">https://parallelcomics.ru</a> <br>
                    Возврат и&nbsp;обмен остальных товаров осуществляется согласно правилам возврата.
                </p>
                <h2>Правила возврата</h2>
                <p>
                    1.1. Сайт принадлежит и&nbsp;администрируется ООО &laquo;Параллель Комикс&raquo;. <br>
                    1.2. Заказывая Товары через Сайт, Клиент соглашается с&nbsp;Условиями продажи товаров (далее&nbsp;&mdash;
                    Условия), изложенными ниже. <br>
                    1.3. Настоящие Условия, за&nbsp;исключением пункта 3.12 &laquo;Предварительный заказ&raquo;, а&nbsp;также
                    информация о
                    Товаре, представленная на&nbsp;Сайте, являются публичной офертой в&nbsp;соответствии со&nbsp;ст.435
                    и&nbsp;ч.2 ст.437&nbsp;ГК РФ. <br>
                    1.4. К&nbsp;отношениям между Клиентом и&nbsp;Продавцом применяются положения ГК&nbsp;РФ&nbsp;о&nbsp;розничной
                    купле-продаже
                    (&sect;&nbsp;2&nbsp;глава&nbsp;30), а&nbsp;также Закон РФ&nbsp;&laquo;О&nbsp;защите прав
                    потребителей&raquo; от&nbsp;07.02.1992 &#8470;&nbsp;2300-1 и&nbsp;иные правовые
                    акты, принятые в&nbsp;соответствии с&nbsp;ними.
                </p>
            </div>
        </div>
    </div>
{% endblock %}