{% extends '../layouts/base.twig' %}

{% block title %}Платёж подтверждён{% endblock %}
{% block mainClass %}p-success section-page{% endblock %}
{% set orderAside = [
    {
        term: 'Количество товаров',
        desc: '2 шт'
    },
    {
        term: 'Вес товаров',
        desc: '1 кг'
    },
    {
        term: 'Доставка',
        desc: '500 ₽'
    },
    {
        term: 'Промокод',
        desc: 'нет'
    },
] %}

{% block content %}
    <div class="container p-success__container">
        <svg class="icon p-success__icon">
            <use xlink:href="#ok"></use>
        </svg>
        <h1 class="h2 margin-default custom-title">Платеж подтвержден</h1>
        <p class="p-success__order-number mb-52">Заказ №432432</p>
        <div class="p-success__wrapper">
            <div class="p-order__order-list mb-60">
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
                <div class="current-order__row">
                    <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                    <div class="current-order__col current-order__col-name">
                        <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                        <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                        <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Стоимость</span>
                        <strong>2 000 ₽</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Количество</span>
                        <strong>1</strong>
                    </div>
                    <div class="current-order__col">
                        <span class="current-order__header-desc">Сумма</span>
                        <strong>500 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="p-order__order-info-list mb-52">
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Получатель</span>
                    <p class="p-order__order-info-item-term">
                        Иванов Иван Иванович, +437238924983, example@mail.com
                    </p>
                </div>
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Способ доставки</span>
                    <p class="p-order__order-info-item-term">CDEK, До двери, 1 день</p>
                </div>
                <div class="p-order__order-info-item">
                    <span class="p-order__order-info-item-desc">Адрес доставки</span>
                    <p class="p-order__order-info-item-term">
                        Россия, Московская область, Москва, Пушкина 123
                    </p>
                </div>
            </div>
        </div>
        <aside class="order-aside">
            <span class="order-aside__title mb-20">Итого</span>
            {% for item in orderAside %}
                <div class="order-aside__row">
                    <span class="order-aside__term">{{ item.term }}</span>
                    <span class="order-aside__desc">{{ item.desc }}</span>
                </div>
            {% endfor %}
            <div class="order-aside__total">6 800 ₽</div>
        </aside>
        <div class="p-success__btn-inner">
            <a class="link _revert" href="/">Вернуться на главную</a>
            <a class="btn" href="/lk.html">Личный кабинет</a>
        </div>
    </div>
{% endblock %}