//Сетка
@custom-media --media-sm (min-width: 560px);
@custom-media --media-md (min-width: 768px);
@custom-media --media-lg (min-width: 992px);
@custom-media --media-xl (min-width: 1200px);
@custom-media --media-xxl (min-width: 1440px);

:root {
    //Шрифты
    --f-primary: 'Gotham-Medium', Arial, sans-serif;
    --f-primary-bold: 'Gotham-Bold', Arial, sans-serif;
    --f-s-promo: clamp(52px, 5vw, 120px);
    --f-s-title: clamp(40px, 3vw, 70px);
    --f-s-h2: clamp(32px, 3vw, 48px);
    --f-s-h3: clamp(20px, 3vw, 36px);
    --f-s-body: clamp(16px, 3vw, 24px);
    --f-s-body-second: clamp(16px, 3vw, 18px);
    --f-s-small: 14px;

    //Цвета
    --c-primary: #F0303C;
    --c-secondary: #492066;
    --c-text: #FFFFFF;
    --c-text-second: #919191;
    --c-lines: #919191;
    --c-bg: rgb(35, 31, 32);
    --c-bg-second: #393234;
    --c-white: rgb(255, 255, 255);
    --c-white-light: rgba(255, 255, 255, 0.32);
    --c-black: rgb(0, 0, 0);
    --c-black-light: rgb(0, 0, 0, 0.5);
    --c-special: #FCC733;
    --c-special-second: #548FDD;

    //Дополнительно
    --border: 2px solid var(--c-lines);
    --border-radius: 4px;
    --headerHeight: 56px;
    --transition: all 0.4s ease;
}
