.p-lk {
    &__favorites-none {
        display: grid;
        place-items: center;
        min-height: 20vh;
        font-weight: 700;
        text-align: center;
        color: var(--c-lines);
    }

    &__favorites-item {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        padding: 12px 32px;
        border: var(--border);
        font-size: var(--f-s-body-second);
        &:not(:first-child) {
            border-top: none;
        }

        @media (--media-sm) {
            grid-template-columns: 100px 1fr;
        }

        @media (--media-lg) {
            grid-template-columns: 100px 1fr 120px 0.5fr;
        }

        &._out {
            opacity: 0.2;
        }
    }

    &__favorites-item-age {
        position: absolute;
        top: 12px;
        left: 32px;
    }

    &__favorites-item-img {
        width: 100px;
        object-fit: contain;
    }

    &__favorites-item-series {
        display: block;
        font-size: var(--f-s-small);
        color: var(--c-lines);
    }

    &__favorites-item-note {
        display: block;
        font-size: var(--f-s-small);
    }

    &__favorites-item-name {
        margin-top: 12px;
    }

    &__favorites-item-price {
        @media (--media-lg) {
            grid-column: -2/-3;
        }
    }

    &__favorites-item-btn-inner {
        display: flex;
        @media (--media-lg) {
            grid-column: -1/-2;
        }
    }

    .b-favorite {
        &:hover {
            background-color: var(--c-primary);
        }

        &:hover .icon {
            fill: var(--c-white);
        }
    }
}