.lk-menu {
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        @media (--media-md) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__link {
        width: 100%;
        max-width: none;

        &._active {
            opacity: 1;
        }
    }
}