.p-lk {
    &__title {
        font-size: var(--f-s-body);
        font-weight: 700;
    }

    &__name {
        font-size: var(--f-s-h2);
        font-weight: 700;
    }

    &__form-submit {
        width: 100%;
        max-width: none;
    }
    
    &__form-notice{
        display: block;
        margin-top: 12px;
        font-size: var(--f-s-small);
    }
}