{% set socialAuth = [
    {
        icon: 'vk'
    },
    {
        icon: 'fb'
    },
    {
        icon: 'google'
    },
    {
        icon: 'instagram'
    },
] %}

<section class="auth-modal" data-modal="auth">
    <button class="auth-modal__close btn _only-icon js-close" type="button">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="container auth-modal__container">
        <span class="auth-modal__title mb-32">Вход</span>
        <p class="auth-modal__sub-title mb-28">Через соц. сети (рекомендуется)</p>
        <div class="auth-modal__social mb-32">
            {% for item in socialAuth %}
                <button class="auth-modal__social-btn" type="button">
                    <svg class="icon">
                        <use xlink:href="#{{ item.icon }}"></use>
                    </svg>
                </button>
            {% endfor %}
        </div>
        <p class="auth-modal__sub-title mb-20">С помощью логина</p>
        <form class="auth-modal__form form mb-32" action="">
            <div class="input _required">
                <input class="input__text" type="text" name="auth_login" placeholder="Логин" required>
            </div>
            <div class="input _required">
                <input class="input__text" type="password" name="auth_password" placeholder="Пароль" required>
            </div>
            <button class="btn form__btn">Войти</button>
        </form>
        <button class="link _revert auth-modal__forgot-password mb-32" data-modal-link="forgot" data-type="modal"
                type="button">
            Забыли пароль?
        </button>
        <div class="bg-border mb-32">
            <span class="bg-border__text">или</span>
        </div>
        <button class="auth-modal__create btn _border _white mb-20" data-modal-link="create-account" data-type="modal"
                type="button">
            Создать аккаунт
        </button>
        <p class="auth-modal__politics">
            Продолжая авторизацию, вы&nbsp;подтверждаете свое согласие с
            <a class="link" href="/politics.html">Пользовательским соглашением</a> и
            <a class="link" href="/politics.html">Политикой конфиденциальности</a>
        </p>
    </div>
</section>