<section class="auth-modal" data-modal="create-account">
    <button class="auth-modal__close btn _only-icon js-close" type="button">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="container auth-modal__container _fullwidth">
        <span class="auth-modal__title mb-32">Регистрация</span>
        <form class="auth-modal__form form mb-32" action="">
            <div class="form__inner">
                <div class="input _required _with-label">
                    <label class="input__label" for="create_name">Имя</label>
                    <input class="input__text" type="text" name="create_name" id="create_name" required>
                </div>
                <div class="input _required _with-label">
                    <label class="input__label" for="create_surname">Фамилия</label>
                    <input class="input__text" type="text" name="create_surname" id="create_surname" required>
                </div>
            </div>
            <div class="input _with-label">
                <label class="input__label" for="create_patronymic">Отчество</label>
                <input class="input__text" type="text" name="create_patronymic" id="create_patronymic">
            </div>
            <div class="form__inner">
                <div class="input _required _with-label">
                    <label class="input__label" for="create_login">Логин</label>
                    <input class="input__text" type="text" name="create_login" id="create_login" required>
                </div>
                <div class="input _required _with-label">
                    <label class="input__label" for="create_email">Почта</label>
                    <input class="input__text" type="email" name="create_email" id="create_email" required>
                </div>
            </div>
            <div class="form__inner">
                <div class="input _required _with-label">
                    <label class="input__label" for="create_phone">Телефон</label>
                    <input class="input__text phone" type="tel" name="create_phone" id="create_phone" required>
                </div>
                <div class="input _with-label">
                    <label class="input__label" for="create_birthday">Дата рождения</label>
                    <input class="input__text input-date" type="text" name="create_birthday" id="create_birthday">
                </div>
            </div>
            <div class="form__inner">
                <div class="input _required _with-label">
                    <label class="input__label" for="create_pass">Пароль</label>
                    <input class="input__text" type="password" name="create_pass" id="create_pass" required>
                </div>
                <div class="input _required _with-label">
                    <label class="input__label" for="create_repeat_pass">Повторите пароль</label>
                    <input class="input__text" type="password" name="create_repeat_pass" id="create_repeat_pass" required>
                </div>
            </div>
            <span class="form__politics">Продолжая авторизацию, вы подтверждаете свое согласие</span>
            <div class="checkbox mb-16">
                <input class="checkbox__input" type="checkbox" id="create_politics" name="create_politics">
                <label class="checkbox__label link" for="create_politics">
                    <span>Я прочитал и согласен с условиями</span>
                    <a class="link" href="/politics.html">Пользовательским соглашением</a> и
                    <a class="link" href="/politics.html">Политикой конфиденциальности</a>
                </label>
            </div>
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="create_news_subscribe" name="create_news_subscribe">
                <label class="checkbox__label link" for="create_news_subscribe">
                    <span>Я не против получать новости и предложения</span>
                </label>
            </div>
            <button class="btn _border _white form__btn">Зарегистрироваться</button>
        </form>
    </div>
</section>