<section class="auth-modal" data-modal="forgot">
    <button class="auth-modal__close btn _only-icon js-close" type="button">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <div class="container auth-modal__container">
        <span class="auth-modal__title mb-32">Забыли пароль?</span>
        <form class="auth-modal__form form mb-32" action="">
            <div class="input _required">
                <input class="input__text" type="email" name="forgot" placeholder="Введите электронную почту" required>
            </div>
            <button class="btn _border form__btn _white">Восстановить</button>
        </form>
        <button class="link _revert auth-modal__forgot-password mb-32" data-modal-link="auth" data-type="modal">
            Войти
        </button>
    </div>
</section>