.p-404 {
    background: var(--c-bg) url('/assets/img/404-bg.webp') no-repeat center;
    background-size: cover;

    &__inner {
        display: grid;
        place-items: center;
        height: 100%;
        text-align: center;
    }
}