.p-card {
    margin-top: 0;

    &__inner {
        min-height: 80vh;
        padding-bottom: 36px;
        @media (--media-lg) {
            padding-bottom: 52px;
        }
    }

    &__top-container {
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
        color: var(--cardTopBLock);
        @media (--media-lg) {
            grid-template-rows: repeat(6, auto);
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0 28px;
        }
    }

    .card-slider {
        order: -1;
        margin-bottom: 28px;
        @media (--media-lg) {
            order: 0;
            grid-row: 1/-1;
            grid-column: 1/2;
            margin-bottom: 0;
        }
    }

    &__title {
        order: -2;
        grid-column: -2/-1;
        @media (--media-lg) {
            order: 0;

        }
    }

    &__note {
        order: -2;
        grid-column: -2/-1;
        font-size: var(--f-s-small);
        opacity: 0.5;
        @media (--media-lg) {
            order: 0;
        }
    }

    &__desc {
        grid-column: -2/-1;
    }

    &__price-inner {
        grid-column: -2/-1;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 40px;
        align-items: center;
        width: fit-content;
    }

    .b-price {
        font-size: var(--f-s-h3);
    }

    .b-counter {
        --inputColorCounter: var(--cardTopBLock);
    }

    &__btn-inner {
        grid-column: -2/-1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__addToCart {
        background-color: var(--cardTopBLock);
    }

    &__chars-list {
        grid-column: -2/-1;
        display: grid;
        grid-gap: 16px;
        width: fit-content;
        font-size: var(--f-s-small);
    }

    &__chars-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 28px;
    }

    &__chars-item-term {
        opacity: 0.6;
    }

    &__chars-item-desc {
        font-weight: 700;
    }

    &__cast-container {
        transition: max-height 0.8s linear;
        overflow: hidden;
    }

    &__cast-inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 36px;
        @media (--media-lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 28px;
        }
    }

    &__cast-title-inner {
        font-size: var(--f-s-body-second);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--cardTopBLock);
    }

    &__cast-title {
        display: inline-block;
        margin-right: 4px;
    }

    &__cast-num {
        color: var(--c-primary);
    }

    &__cast-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        color: var(--cardTopBLock);
        @media (--media-lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 28px 20px;
        }
    }

    &__cast-item {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 56px 1fr;
        grid-gap: 0 20px;
        align-items: center;
        font-size: var(--f-s-small);
    }

    &__cast-item-img {
        grid-row: 1/-1;
        display: block;
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
    
    &__cast-item-name {
        grid-column: -2/-1;
        display: block;
        font-weight: 700;
    }

    &__cast-item-status {
        grid-column: -2/-1;
        align-self: flex-start;
    }

    &__cast-more {
        grid-column: 1/-1;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: var(--f-s-body-second);
        color: var(--cardTopBLock);
    }

    .b-favorite {
        border-color: var(--c-black);
    }
}