.p-contacts {
    font-size: var(--f-s-body-second);
    @media (--media-lg) {
        background: url('/assets/img/contacts-bg.webp') no-repeat;
        background-size: cover;
    }

    &__contacts-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, calc(25% - 20px)));
        grid-gap: 32px 20px;
    }

    &__contacts-item {
        a {
            @extend .link;
        }
    }

    &__contacts-item-term {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        color: var(--c-lines);
    }

    &__inner {
        display: grid;
        grid-gap: 40px 40px;
        @media (--media-lg) {
            grid-template-columns: minmax(300px, 0.5fr) 1fr;
        }
    }

    .b-pickup {
        order: -1;
        @media (--media-lg) {
            order: 0;
        }
    }
}