.p-faq {
    .accordion {
        grid-gap: 0;
        &__item {
            padding: 32px 24px;
            border: var(--border);
            border-radius: 0;
            border-color: var(--c-white);
            &:not(:last-child) {
                border-bottom: none;
            }
        }
    }

    &__text {
        padding-top: 0;
    }
}