.p-marvel-favorite {
    &__cover-img {
        display: block;
        width: 100%;
        max-height: 650px;
        object-fit: cover;
        object-position: top center;
    }

    &__content {
        @media (--media-xl) {
            margin-top: -120px;
        }
        @media (--media-xxl) {
            margin-top: -200px;
        }
    }
}