.p-order {
    font-size: var(--f-s-body-second);

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        @media (--media-lg)  {
            grid-template-columns: 2fr 1fr;
            grid-gap: 16px;
        }
    }

    &__path {
        grid-column: 1/-1;
        font-size: var(--f-s-small);
        overflow: auto;
    }

    &__path-list {
        display: grid;
        grid-gap: 16px;
        width: calc(min(500px, 100%));
        overflow: hidden;
        @media (--media-sm) {
            grid-auto-flow: column;
            grid-gap: 0;
            width: fit-content;
        }
    }

    &__path-item {
        position: relative;

        &:not(:last-child) {
            padding-right: 20px;
            margin-right: 20px;
        }

        @media (--media-md)  {
            &::before {
                content: '>';
                position: absolute;
                top: -1px;
                right: -4px;
                color: var(--c-text);
            }

            &:last-child::before {
                display: none;
            }
        }

        &._active {
            color: var(--c-primary);
        }
    }

    &__step-title {
        margin-bottom: 20px;
        font-size: var(--f-s-body);
        font-weight: 700;
        @media (--media-lg) {
            margin-bottom: 28px;
        }
    }

    &__tabs {
        margin-bottom: 24px;
    }

    &__tabs-btns {
        border: 2px solid var(--c-lines);
        @media (--media-sm) {
            display: grid;
            grid-auto-flow: column;
        }
    }

    &__tabs-item {
        height: 40px;
        padding: 8px 16px;
        text-align: center;
        transition: var(--transitions);
        color: var(--c-lines);
        @media (--media-lg) {
            height: 64px;
            padding: 16px 40px;
        }

        &:hover, &._active {
            color: var(--c-white);
            background-color: var(--c-primary);
        }

        &._active {
            cursor: pointer;
        }
    }

    &__delivery-item {
        display: grid;
        align-items: center;
        grid-gap: 8px;
        padding: 20px;
        @media (--media-md) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 28px;
            padding: 20px 36px 20px 20px;
        }

        &:not(:last-child) {
            border-bottom: var(--border);
        }

        &._active, &:hover {
            color: var(--c-white);
            background-color: var(--c-black);
        }
    }

    &__delivery-list {
        border: var(--border);
        border-width: 2px;
    }

    &__delivery-item-img {
        display: block;
        max-width: 300px;
        max-height: 100px;
        object-fit: contain;
    }

    &__delivery-item-text {
        &._price {
            font-weight: 700;
            @media (--media-lg) {
                text-align: center;
            }
        }
    }
    
    &__delivery-price {
        display: block;
    }

    &__btn-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        .btn:last-child {
            margin-left: auto;
        }
    }

    &__order-list {
        display: grid;
        grid-gap: 28px;
    }

    &__order-info-list {
        display: grid;
        grid-gap: 20px;
    }

    &__order-info-item-desc {
        display: block;
        margin-bottom: 8px;
        color: var(--c-lines);
    }

    .current-order {
        &__body {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 20px;
        }

        &__row {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 12px;
            @media (--media-lg) {
                grid-template-columns: 212px repeat(5, auto);
                grid-gap: 20px;
            }
        }

        &__img {
            width: fit-content;
        }
    }

    .order-aside {
        @media (--media-lg) {
            margin-top: 76px;
        }
    }
}