.p-success {
    font-size: var(--f-s-body-second);
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0 32px;
        @media (--media-lg)  {
            grid-template-columns: 2fr 1fr;
            grid-gap: 16px;
        }
    }

    .h2 {
        grid-column: 1/-1;
        margin-bottom: 20px;
        text-align: center;
    }

    &__icon {
        grid-column: 1/-1;
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto 20px;
    }

    &__order-number {
        grid-column: 1/-1;
        font-family: var(--f-secondary);
        text-align: center;
    }

    &__btn-inner {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        max-width: 600px;
        margin-top: 28px;
        @media (--media-md)  {
            grid-template-columns: 1fr 1fr;
        }
        @media (--media-lg)  {
            margin-top: 0;
        }
    }
}