.b-price {
    width: fit-content;
    font-family: var(--f-primary-bold);
    font-size: var(--f-s-body-second);

    &__old {
        text-decoration: line-through;
    }

    span:nth-child(2) {
        color: var(--c-primary);
    }
}