.card-slider {
    --sliderHeight: 400px;
    display: grid;

    width: 100%;
    max-height: var(--sliderHeight);
    @media (--media-lg) {
        --sliderHeight: 600px;
        grid-template-columns: 100px 1fr;
        grid-gap: 28px;
    }

    &__slide-main {
        width: 100%;
    }
    
    &__slide-main-item-link {
        display: block;
        height: inherit;
        transition: var(--transition);
        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: none;
        }
    }

    &__slide-main-item-img {
        display: block;
        height: 100%;
        object-fit: contain;
    }

    &__slide-thumbs {
        display: none;
        @media (--media-lg) {
            display: block;
            width: 100%;
            height: var(--sliderHeight);
            overflow: hidden;
        }
    }

    &__slide-thumbs-item {
        margin-bottom: 12px;
        transition: var(--transitions);
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    &__slide-thumbs-item-img {
        display: block;
        height: 100%;
        max-height: var(--sliderHeight);
        object-fit: contain;
    }
}