.card-label {
    display: block;
    width: fit-content;
    padding: 12px;
    font-size: var(--f-s-small);
    text-align: center;
    background-color: var(--c-primary);
    &._age {
        margin-left: auto;
        background-color: var(--c-black);
    }
}
