.card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 16px;
    border: 2px solid transparent;
    text-align: center;
    transition: var(--transition);
    &:hover {
        border-color: var(--c-primary);
    }

    @media (--media-sm) {
        width: 277px;
    }

    &__favorite {
        position: absolute;
        top: 0;
        right: 0;
        width: 52px;
        height: 52px !important;
        fill: transparent;
        &._active {
            fill: var(--c-primary);
        }
    }

    &:hover &__favorite {
        background-color: var(--c-primary);
    }

    &__favorite-icon {
        width: 28px;
        height: 28px;
        transition: var(--transition);
    }

    &:hover &__favorite-icon {
        stroke: var(--c-black);
        stroke-width: 12px;
    }
    
    &__link {
        position: relative;
        display: block;
    }

    &__out-stock {
        position: absolute;
        z-index: 2;
        top: 50%;
        font-size: var(--f-s-small);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    &__img {
        display: block;
        height: 360px;
        margin: 0 auto;
        object-fit: contain;
    }

    &._out &__img {
        opacity: 0.3;
    }

    &__label-inner {
        position: relative;
        top: -32px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__series {
        display: block;
        font-family: var(--f-primary-bold);
        font-size: var(--f-s-small);
        font-weight: 700;
    }

    &__series-type {
        display: block;
        font-family: var(--f-primary-bold);
        font-size: var(--f-s-small);
        font-weight: 700;
    }

    &__name {
        margin-top: 12px;
        font-size: var(--f-s-body-second);
    }

    .b-price {
        margin-top: auto;
    }

    &__add-cart {
        margin: 0 auto;
    }
}