<div class="b-counter">
    <button class="b-counter__btn js-plus" type="button" disabled="disabled">-</button>
    <input class="b-counter__input" type="text" value="1" disabled>
    <button class="b-counter__btn js-minus" type="button">+</button>
</div>