<section class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list" itemscope itemtype="//schema.org/BreadcrumbList">
            {% for item in breadcrumbs %}
                {% if (item.active) %}
                    <li class="breadcrumbs__item _active" itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem">
                        <p class="breadcrumbs__link" itemtype='https://schema.org/Thing' itemscope itemprop='item' id='{{ item.name }}'>
                            <span itemprop="name">{{ item.name }}</span>
                        </p>
                        <meta itemprop="position" content="{{ loop.index }}">
                    </li>
                {% else %}
                    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="//schema.org/ListItem">
                        <a href="{{ item.url }}" class="breadcrumbs__link link" itemprop="item">
                            <span itemprop="name">{{ item.name }}</span>
                            <meta itemprop="position" content="{{ loop.index }}">
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>