{% set socialsItem = [
    {
        icon: 'fb',
        link: '#'
    },
    {
        icon: 'twitter',
        link: '#'
    },
    {
        icon: 'vk',
        link: '#'
    },
    {
        icon: 'youtube',
        link: '#'
    },
    {
        icon: 'telegram',
        link: '#'
    },
    {
        icon: 'instagram',
        link: '#'
    },
] %}

<section class="socials">
    <ul class="socials__list">
        {% for item in socialsItem %}
            <li class="socials__item">
                <a class="socials__item-link link" href="{{ item.link }}" target="_blank">
                    <svg class="icon"><use href="#{{ item.icon }}"/></svg>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>