.auth-modal {
    position: fixed;
    z-index: 1000;
    top: var(--headerHeight);
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    font-size: var(--f-s-body-second);
    text-align: center;
    background-color: var(--c-bg);
    overflow: auto;
    @media (--media-lg) {
        padding: 60px 0;
    }
    
    &._active {
        display: block;
        @media (--media-lg) {
            display: grid;
            place-items: center;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 32px;
        height: 32px;

        @media (--media-lg) {
            top: 60px;
            right: 40px;
        }

        .icon {
            width: inherit;
            height: inherit;
            fill: var(--c-white);
        }
    }

    &__container {
        max-width: 360px;
        width: 100%;
        &._fullwidth {
            max-width: 740px;
        }
    }

    &__title {
        font-size: var(--f-s-body);
        font-weight: 700;
    }

    &__sub-title {
        color: var(--c-lines);
    }

    &__social {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 40px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__social-btn {
        width: 36px;
        height: 36px;

        &:hover .icon {
            fill: var(--c-primary);
        }

        .icon {
            width: inherit;
            height: inherit;
            fill: var(--c-white);
        }
    }

    &__forgot-password {
        display: block;
        width: 100%;
    }

    &__politics {
        font-size: var(--f-s-small);
        color: var(--c-lines);
    }

    &__create {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}