.b-pickup {
    &__address-map {
        width: 100% !important;
        height: 400px;
    }

    & > ymaps, & > ymaps > ymaps  {
        width: 100% !important;
    }

    &__address-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px 20px;
        @media (--media-sm) {
            grid-template-columns: repeat(auto-fill, minmax(140px, calc(33% - 20px)));
        }
    }
}