.company-intro {
    display: grid;
    place-items: center;
    min-height: 40vh;
    padding: 32px 0;
    @media (--media-lg) {
        min-height: 60vh;
        padding: 40px 0;
    }

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &__text {
        text-align: center;
    }
}