.current-order {
    border: var(--border);
    font-size: var(--f-s-body-second);

    &:not(:last-child) {
        border-bottom: none
    }

    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        align-items: center;
        padding: 20px 28px;
        cursor: pointer;
        transition: var(--transition);

        &:hover, &._active {
            background-color: var(--c-bg-second);
        }

        @media (--media-xl) {
            grid-template-columns: repeat(5, 1fr);
            padding: 20px 36px 20px 20px;
        }
    }

    &__header-desc {
        display: block;
        margin-bottom: 8px;
        font-size: var(--f-s-small);
        color: var(--c-text-second);
    }

    &__header-term {
        font-weight: 700;
    }

    &__body {
        display: none;

        &._active {
            display: block;
            padding: 40px 28px 60px;
        }
    }

    &__tracking {
        grid-column: 1/-1;
        width: 100%;
        max-width: none;
        @media (--media-sm) {
            grid-column: initial;
        }
        @media (--media-xl) {
            justify-self: flex-end;
        }
    }

    &__items {
        display: grid;
        grid-gap: 40px;
    }

    &__row {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 20px;
        font-size: var(--f-s-body-second);
        @media (--media-sm) {
            grid-template-columns: 100px 1fr 1fr;
        }
        @media (--media-md) {
            grid-template-columns: 100px 1fr 1fr;
        }
        @media (--media-xl) {
            grid-template-columns: 100px 1.5fr repeat(3, 0.6fr);
            align-items: center;
        }
    }

    &__col-name {
        align-self: center;
        @media (--media-md) {
            grid-column: 2/4;
        }
        @media (--media-md) {
            grid-column: initial;
        }
    }

    &__img {
        display: block;
        width: 100%;
        max-height: 180px;
        object-fit: contain;
    }

    &__total {
        display: grid;
        grid-gap: 20px;
        max-width: 400px;
        margin-top: 40px;
        @media (--media-xl) {
            margin-left: auto;
        }
    }

    &__total-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        grid-gap: 20px;
    }

    &__total-term {
        text-align: right;

        &._color {
            color: var(--c-primary);
        }
    }

    &__info-item-desc {
        display: block;
        margin-bottom: 4px;
        font-size: var(--f-s-h4);
        font-weight: 600;
    }

    &__info-item-term {
        color: var(--c-text-second);
    }
}