.fly-cart {
    display: none;
    &._active {
        position: absolute;
        z-index: 1000;
        top: var(--headerHeight);
        right: 0;
        display: block;
        max-width: 480px;
        max-height: 100vh;
        padding: 28px 16px 40px;
        background-color: var(--c-bg);
        overflow: auto;
        @media (--media-sm) {
            padding: 42px 48px 52px;
        }
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__title-num {
        margin-left: 16px;
        color: var(--c-primary);
    }

    &__item-list {
        max-height: 380px;
        overflow: auto;
    }

    &__item {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 16px;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__item-img {
        display: block;
        width: 80px;
        object-fit: contain;
        @media (--media-sm) {
            width: 100px;
        }
    }

    &__item-del {
        position: absolute;
        top: 0;
        right: 0;

        .icon {
            fill: var(--c-lines);
        }

        &:hover .icon {
            fill: var(--c-primary);
            opacity: 1;
        }
    }

    &__item-series {
        padding-right: 28px;
        font-size: var(--f-s-small);
        font-weight: 700;
        color: var(--c-lines);
    }

    &__item-note {
        padding-right: 28px;
        font-size: var(--f-s-small);
        font-weight: 700;
    }

    &__item-name {
        margin-top: 12px;
        font-size: var(--f-s-body-second);
    }

    &__item-inner {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    &__item-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__promocode-title {
        display: block;
        margin-bottom: 8px;
        font-size: var(--f-s-small);
        font-weight: 700;
    }

    &__promocode-input {
        input {
            font-size: var(--f-s-body);
            font-weight: 700;
            text-align: center;
            color: var(--c-white);
        }
    }

    &__promocode-btn {
        width: 100%;
        max-width: none;
        margin-bottom: 8px;
    }
    
    &__promocode-sale {
        font-size: var(--f-s-small);
        font-weight: 700;
    }

    &__total {
        margin-bottom: 16px;
        font-weight: 700;
    }

    &__order {
        width: 100%;
        max-width: none;
    }

    .b-price {
        font-size: var(--f-s-body-second);
    }

    .card-label {
        position: absolute;
        top: 0;
        left: 0;
    }
}