.new-items {
    background-color: var(--c-bg);
    &__top-inner {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 28px;
        align-items: flex-end;
        width: fit-content;
        @media (--media-md) {
            grid-gap: 40px;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__more {
        font-family: var(--f-primary-bold);
        font-size: var(--f-s-body-second);
        font-weight: 700;
        text-align: right;
        text-decoration: underline;
        color: var(--c-lines);
    }

    &__card-list {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        justify-content: center;
        @media (--media-md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (--media-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (--media-xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}