.order-aside {
    position: sticky;
    top: 20px;
    right: 0;
    width: 100%;
    height: fit-content;
    padding: 24px 32px;
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: var(--f-s-body-second);

    &__title {
        display: block;
        font-weight: 700;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
    }

    &__term {
        margin-right: 12px;
        color: var(--c-lines);
    }

    &__total {
        font-size: var(--f-s-body);
        font-weight: 700;
        text-align: right;
    }
}