.promo-section {
    position: relative;
    padding: 60px 0;
    @media (--media-xxl) {
        height: 624px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--promoSectionBgColor);
    }
    @media (--media-md) {
        padding: 80px 0;
    }
    @media (--media-lg) {
        padding: 130px 0;
    }

    &__container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: grid;
        grid-gap: 16px;
        align-items: center;
        height: fit-content;
        text-align: center;
        @media (--media-lg) {
            grid-gap: 24px;
            text-align: left;
        }
        @media (--media-xl) {
            max-width: 40%;
        }
    }

    &__link {
        margin: 0 auto;
        @media (--media-lg) {
            margin: 0;
        }
    }
}