.promo {
    position: relative;
    padding: 32px 0;
    background: var(--c-secondary) no-repeat right top;
    background-size: contain;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--c-black-light);
        @media (--media-lg) {
            display: none;
        }
    }

    @media (--media-xl) {
        height: calc(80vh - var(--headerHeight));
    }

    @media (--media-xl) {
        padding: 40px 0;
    }

    &__container {
        display: grid;
        align-items: center;
        height: 100%;
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column;
        @media (--media-xl) {
            max-width: 40%;
        }
    }

    &__prices {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 12px;
        width: fit-content;
        font-family: var(--f-primary-bold);
        font-size: var(--f-s-h3);
        color: var(--c-primary);
    }

    &__prices-old {
        text-decoration: line-through;
        color: var(--c-white);
    }

    &__note {
        margin-top: 12px;
        font-size: var(--f-s-body-second);
        color: var(--c-white-light);
        @media (--media-xl) {
            margin-top: 40px;
        }
    }
}
