.bg-border {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--c-white);
    }

    &__text {
        position: relative;
        z-index: 2;
        padding: 0 8px;
        background-color: var(--c-bg);
    }
}