.btn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 240px;
    height: 60px;
    padding: 12px 28px;
    font-family: var(--f-primary-bold);
    font-size: var(--f-s-body-second);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--c-text);
    background-color: var(--c-primary);
    transition: var(--transition);
    &:hover {
        opacity: 0.7;
    }

    &._with-icon {
        .icon {
            margin-right: 16px;
        }
    }

    &._only-icon {
        min-width: auto;
        height: auto;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }

    &._border {
        border: var(--border);
        color: var(--c-lines);
        background-color: transparent;
        &:hover {
            border-color: var(--c-primary);
            color: var(--c-text);
            background-color: var(--c-primary);
            opacity: 1;
        }
    }

    &._white {
        border-color: var(--c-white);
        color: var(--c-white);
    }

    &._c-primary {
        border-color: var(--c-primary);
        color: var(--c-primary);
    }
}