.container  {
    padding: 0 16px;
    margin: 0 auto;
    @media (--media-sm) {
        max-width: 100%;
    }

    @media (--media-md) {
        max-width: 100%;
    }

    @media (--media-lg) {
        max-width: 100%;
    }

    @media (--media-xl) {
        max-width: 1140px;
        padding: 0 20px;
    }

    @media (--media-xxl) {
        max-width: 1440px;
    }
}