.form {
    --formPoliticsFontSize: var(--f-s-small);
    display: grid;
    grid-gap: 20px;
    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        @media(--media-sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__col-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        align-items: center;
        @media(--media-sm) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(--media-lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__politics {
        font-size: var(--formPoliticsFontSize);
        color: var(--c-lines);
    }

    &__btn {
        width: 100%;
    }
}