.input {
    --inputHeight: 60px;
    --inputFontSize: var(--f-s-body-second);
    --inputBorder: var(--border);
    --inputBorderRadius: var(--border-radius);
    --inputColor: var(--c-text);
    --inputColorPlaceholder: var(--c-lines);
    --inputBg: transparent;
    --inputErrorFontSize: var(--f-s-small);
    --inputErrorColor: var(--c-error);
    width: 100%;

    &._required {
        position: relative;
        &::before {
            content: '*';
            position: absolute;
            bottom: 52px;
            right: 16px;
            width: 4px;
            height: 4px;
            color: var(--c-primary);
        }
    }

    &._with-label &__text {
        &::placeholder {
            text-align: left;
        }
    }

    &__label {
        display: block;
        margin-bottom: 4px;
        font-size: var(--f-s-small);
        text-align: left;
        color: var(--c-lines);
    }

    &__text {
        width: 100%;
        height: var(--inputHeight);
        padding: 14px 16px;
        border: var(--inputBorder);
        border-radius: var(--inputBorderRadius);
        font-size: var(--inputFontSize);
        color: var(--inputColor);
        background-color: var(--inputBg);
        transition: var(--transition);

        &::placeholder {
            font-size: var(--f-s-body-second);
            color: var(--inputColorPlaceholder);
        }

        &:active, &:focus {
            opacity: 0.8;
        }
    }

    &__error {
        font-size: var(--inputErrorFontSize);
        color: var(--inputErrorColor);
    }

    &._textarea &__text {
        min-height: 200px;
    }
}