.logo {
    display: block;
    max-width: 300px;
    height: 40px;
    transition: var(--transition);
    &:hover {
        opacity: 0.8;
    }

    &__img {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: contain;
        object-position: left;
    }
}