.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 16px;
    @media (--media-md) {
        margin-bottom: 20px;
    }
}

.mb-28 {
    margin-bottom: 20px;
    @media (--media-md) {
        margin-bottom: 28px;
    }
}

.mb-32 {
    display: block;
    margin-bottom: 24px;
    @media (--media-md) {
        margin-bottom: 32px;
    }
}

.mb-52 {
    margin-bottom: 24px;
    @media (--media-md) {
        margin-bottom: 36px;
    }

    @media (--media-xl) {
        margin-bottom: 52px;
    }
}

.mb-60 {
    margin-bottom: 28px;
    @media (--media-md) {
        margin-bottom: 40px;
    }
    
    @media (--media-xl) {
        margin-bottom: 60px;
    }
}

.mb-68 {
    margin-bottom: 32px;
    @media (--media-md) {
        margin-bottom: 45px;
    }

    @media (--media-xl) {
        margin-bottom: 68px;
    }
}

.mb-100 {
    margin-bottom: 40px;
    @media (--media-md) {
        margin-bottom: 60px;
    }

    @media (--media-xl) {
        margin-bottom: 100px;
    }
}