.section-inner {
    padding: 40px 0;
    @media (--media-xl) {
        padding: 60px 0;
    }
}

.section-page {
    margin-top: 60px;
    margin-bottom: 60px;

    @media (--media-xl) {
        margin-bottom: 100px;
    }

    &._no-top {
        margin-top: 0;
    }
}
