.tabs {
    --colorTabBtn: var(--c-primary);

    &__btns {
        display: grid;
        grid-gap: 4px;
        margin-bottom: 16px;
        @media (--media-md) {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 0;
            margin-bottom: 28px;
        }
    }

    &__btns-item {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 40px;
        padding: 8px 20px;
        font-size: 16px;
        white-space: nowrap;
        color: var(--colorTabBtn);
        outline: none;
        transition: var(--transition);

        @media (--media-md) {
            justify-content: center;
            min-height: 44px;
            text-align: center;
            background-color: transparent;
        }

        &:focus, &:active {
            outline: none;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            transition: var(--transition);
        }

        &._active::before {
            background-color: var(--colorTabBtn);
        }
    }

    &__content-item {
        display: none;

        &._active {
            display: block;
        }
    }
}