.h1 {
    font-family: var(--f-primary-bold);
    font-size: var(--f-s-title);
    font-weight: 900;
    line-height: 1;
}

.h2 {
    margin-bottom: 4px;
    font-family: var(--f-primary-bold);
    font-size: var(--f-s-h2);
    font-weight: 900;
    line-height: 1;
    @media (--media-lg) {
        margin-bottom: 16px;
    }
}