.text-block {
    &__column {
        display: grid;
        grid-gap: 28px;
        @media (--media-lg) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
        }
    }

    &__container {
        width: calc(min(900px, 100%));
    }

    * {
        font-size: var(--f-s-body-second);
    }

    * + * {
        margin-top: 16px;
    }

    h1 {
        @extend .h1;
        margin-bottom: 36px;
    }

    p + h2 {
        margin-top: 60px;
    }

    a {
        @extend .link;
    }

    h2 {
        @extend .h2;
        margin-bottom: 24px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }
}