<!DOCTYPE html>
<html lang="ru">
<head itemscope itemtype="http://schema.org/WPHeader">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="preload" href="/assets/fonts/Gotham-Medium.woff2" as="font">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title itemprop="headline">{% block title %}{% endblock %}</title>
    <meta itemprop="description" name="description" content="описание_страницы">
</head>
<body class="body {% block bodyClass %}{% endblock %}">
{% include 'header.twig' %}
<main class="main {% block mainClass %}{% endblock %}">
    {% block content %}{% endblock %}
</main>
{% include 'footer.twig' %}
{% include 'mobile-side.twig' %}
{% include '../components/modal/auth.twig' %}
{% include '../components/modal/create-account.twig' %}
{% include '../components/modal/forgot-password.twig' %}
{% include '../components/fly-cart.twig' %}
<div class="overlay js-overlay"></div>
<div id="svg-icons"></div>
</body>