{% set footerMenu = [
    {
        name: 'Контакты',
        link: '/contacts.html'
    },
    {
        name: 'Обмен и возврат',
        link: '/revert.html'
    },
    {
        name: 'Об идательстве',
        link: '/about.html'
    },
    {
        name: 'Политика конфиденциальности',
        link: '/politics.html'
    },
    {
        name: 'Пользовательское соглашение',
        link: '/politics.html'
    },
] %}

<footer class="footer">
    <div class="container footer__container">
        {% include '../components/custom/logo.twig' %}
        {% include '../components/custom/social.twig' %}
        <div class="footer__contacts">
            <a class="footer__contacts-link link" href="tel:+79850539402">+7 (985) 053-94-02</a>
            <a class="footer__contacts-link link" href="mailto:store@parallelcomics.ru">store@parallelcomics.ru</a>
        </div>
    </div>
    <div class="container">
        <ul class="footer__menu-list">
            {% for item in footerMenu %}
                <li class="footer__menu-item">
                    <a class="footer__menu-link link" href="{{ item.link }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <p class="footer__copyright">2017-{{ 'now' | date('Y') }} Параллель комикс</p>
    </div>
</footer>