<header class="header">
    <div class="header__container container">
        <button class="mobile-btn js-mobile-btn" type="button">
            <svg viewBox="0 0 64 48" class="icon">
                <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
            </svg>
        </button>
        {% include '../components/custom/logo.twig' %}
        {% include 'main-menu.twig' %}
        <div class="header__inner">
            <a class="header__link-icon link _with-icon" href="/favorites.html" title="Избранное">
                <svg class="icon">
                    <use xlink:href="#like"></use>
                </svg>
            </a>
            <button class="header__link-icon link _with-icon js-fly-cart-btn" title="Корзина" type="button">
                <svg class="icon">
                    <use xlink:href="#shop"></use>
                </svg>
            </button>
            <button class="header__link-icon link _with-icon" type="button"
                    data-type="modal" data-modal-link="auth" title="Личный кабинет">
                <svg class="icon">
                    <use xlink:href="#lk"></use>
                </svg>
            </button>
        </div>
    </div>
</header>