{% set mainMenu =[
    {
        name: 'Все комиксы',
        link: '/catalog.html',
    },
    {
        name: 'Мерч',
        link: '/catalog.html',
    },
    {
        name: 'Доставка и оплата',
        link: '/delivery.html',
    },
    {
        name: 'FAQ',
        link: '/faq.html',
    },
] %}

<nav class="main-menu" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
    <ul class="main-menu__list" itemprop="about" itemscope="" itemtype="http://schema.org/ItemList">
        {% for item in mainMenu %}
            <li class="main-menu__item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                <a class="main-menu__item-link link" href="{{ item.link }}" itemprop="url">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>