{% set newCards = [
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-1.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Ностальгическое издание',
        series_type_color: '#FCC733',
        price: 960,
        price_old: 1500,
        age: '16+',
        stock: 'out'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-2.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'ЭДК – Издание',
        series_type_color: '#FFFFFF',
        price: 960,
        price_old: 1400,
        age: '18+'
    },
    {
        name: 'Поразительные Человек-паук и Росомаха',
        img: '/assets/img/catalog/item-3.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        price: 1260,
        age: '16+'
    },
    {
        name: 'Человек-паук:Грусть',
        img: '/assets/img/catalog/item-4.webp',
        link: '/card.html',
        series: '«Marvel – Избранное»',
        series_type: 'Коллекционное издание',
        series_type_color: '#548FDD',
        price: 2800,
        age: '16+',
        stock: 'out'
    }
] %}

<section class="new-items section-inner">
    <div class="container new-items__container">
        <div class="new-items__top-inner mb-32">
            <h2 class="new-items__title h2">Из этой серии</h2>
        </div>
        <div class="new-items__card-list">
            {% for item in newCards %}
                {% include 'card.twig' %}
            {% endfor %}
        </div>
    </div>
</section>
