{% set sliderItems = [
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
    {
        img: '/assets/img/card/card-1.webp',
    },
] %}

<div class="card-slider">
    <div thumbsSlider class="swiper card-slider__slide-thumbs js-slider-thumbs">
        <div class="swiper-wrapper">
            {% for item in sliderItems %}
                <div class="swiper-slide card-slider__slide-thumbs-item">
                    <img class="card-slider__slide-thumbs-item-img" src="{{ item.img }}" alt=""/>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="swiper card-slider__slide-main js-slider-main">
        <div class="swiper-wrapper">
            {% for item in sliderItems %}
                <div class="swiper-slide card-slider__slide-main-item">
                    <a class="card-slider__slide-main-item-link" href="{{ item.img }}" data-fancybox="gallery">
                        <img class="card-slider__slide-main-item-img" src="{{ item.img }}" alt=""/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>