<section class="card {% if(item.stock == 'out') %}_out{% endif %}">
    <button class="card__favorite btn _only-icon" type="button">
        <svg class="card__favorite-icon">
            <use xlink:href="#like"></use>
        </svg>
    </button>
    <a class="card__link" href="{{ item.link }}">
        {% if(item.stock == 'out') %}
            <span class="card__out-stock">Распродано</span>
        {% endif %}
        <img class="card__img lazy" data-src="{{ item.img }}" alt="{{ item.name }}" loading='lazy' width="277" height="360">
    </a>
    <div class="card__label-inner">
        {% if (item.price_old) %}
            <span class="card__label card-label">-20%</span>
        {% endif %}
        {% if(item.age) %}
            <span class="card-label _age">{{ item.age }}</span>
        {% endif %}
    </div>
    <p class="card__series">{{ item.series }}</p>
    {% if(item.series_type) %}
        <p class="card__series-type" style="color: {{ item.series_type_color }}">{{ item.series_type }}</p>
    {% endif %}
    <a class="card__name mb-20 link" href="{{ item.link }}">{{ item.name }}</a>
    <div class="b-price mb-20">
        {% if(item.price_old) %}
            <span class="b-price__old">{{ item.price_old }}</span>
        {% endif %}
        <span class="b-price__current">{{ item.price }} ₽</span>
    </div>
    {% if(item.stock != 'out') %}
        <button class="btn card__add-cart _border" type="button">В корзину</button>
    {% else %}
        <button class="btn card__add-cart _border" type="button">Сообщить о поступлении</button>
    {% endif %}
</section>
