<section class="company-intro">
    <div class="container company-intro__container">
        <img class="company-intro__logo mb-32 lazy" data-src="/assets/img/logo-icon.svg" alt="Логотип Параллель" loading="lazy">
        <p class="company-intro__text">
            Независимое издательство комиксов. <br> Работаем с 2015 года.
        </p>
    </div>
</section>