<section class="current-order">
    <div class="current-order__header js-order">
        <div class="current-order__header-col">
            <span class="current-order__header-desc">12.09.2022</span>
            <span class="current-order__header-term">parallel/1234</span>
        </div>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Сумма заказа</span>
            <span class="current-order__header-term">7 000 руб.</span>
        </div>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Статус </span>
            <span class="current-order__header-term">Отправлен</span>
        </div>
        <div class="current-order__header-col">
            <span class="current-order__header-desc">Трек-код</span>
            <span class="current-order__header-term">#3247324</span>
        </div>
        <a class="btn _border current-order__tracking _c-primary" href="#">Отследить</a>
    </div>
    <div class="current-order__body js-order-body ">
        <div class="current-order__items margin-default">
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                <div class="current-order__col current-order__col-name">
                    <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                    <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                    <span class="current-order__name">Поразительные Человек-паук и Росомаха</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                <div class="current-order__col">
                    <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                    <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                    <span class="current-order__name">Поразительные Человек-паук и Росомаха и еще кто-то</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
            <div class="current-order__row">
                <img class="current-order__img" src="/assets/img/catalog/item-2.webp" alt="">
                <div class="current-order__col">
                    <span class="p-lk__favorites-item-series">«Marvel – Избранное»</span>
                    <span class="p-lk__favorites-item-note" style="color: #548FDD">
                            Коллекционное издание
                        </span>
                    <span class="current-order__name">Поразительные Человек-паук и Росомаха и еще кто-то</span>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость товара</span>
                    <strong>2 000 ₽</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Количество</span>
                    <strong>1</strong>
                </div>
                <div class="current-order__col">
                    <span class="current-order__header-desc">Стоимость доставки</span>
                    <strong>500 ₽</strong>
                </div>
            </div>
        </div>
        <div class="current-order__total mb-32">
            <div class="current-order__total-row">
                <span class="current-order__total-desc">Всего</span>
                <strong class="current-order__total-term">7 000 ₽</strong>
            </div>
            <div class="current-order__total-row">
                <span class="current-order__total-desc">Промокод</span>
                <strong class="current-order__total-term">-500 ₽</strong>
            </div>
            <div class="current-order__total-row">
                <span class="current-order__total-desc">Стоимость доставки</span>
                <strong class="current-order__total-term">500 ₽</strong>
            </div>
            <div class="current-order__total-row">
                <span class="current-order__total-desc">Итого с доставкой</span>
                <strong class="current-order__total-term _color">7 000 ₽</strong>
            </div>
        </div>
        <div class="current-order__info">
            <div class="current-order__info-item mb-20">
                <span class="current-order__info-item-desc">Получатель</span>
                <p class="current-order__info-item-term">
                    Иванов Иван Иванович, +437238924983, example@mail.com
                </p>
            </div>
            <div class="current-order__info-item mb-20">
                <span class="current-order__info-item-desc">Способ доставки</span>
                <p class="current-order__info-item-term">CDEK, До двери, 1 день</p>
            </div>
            <div class="current-order__info-item mb-20">
                <span class="current-order__info-item-desc">Адрес доставки</span>
                <p class="current-order__info-item-term">
                    Россия, Московская область, Москва, Пушкина 123
                </p>
            </div>
        </div>
    </div>
</section>