{% set flyCartItems = [
    {
        img: '/assets/img/catalog/item-2.webp',
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        price: '960',
        series_type_color: '#548FDD'
    },
    {
        img: '/assets/img/catalog/item-2.webp',
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        price: '960',
        series_type_color: '#548FDD'
    },
    {
        img: '/assets/img/catalog/item-2.webp',
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        price: '960',
        series_type_color: '#548FDD'
    },
    {
        img: '/assets/img/catalog/item-2.webp',
        name: 'Поразительные Человек-паук и Росомаха',
        series: '«Marvel – Избранное»',
        note: 'Коллекционное издание',
        price: '960',
        series_type_color: '#548FDD'
    },
] %}

<section class="fly-cart js-fly-cart">
    <div class="fly-cart__title mb-32">Корзина<span class="fly-cart__title-num">2</span></div>
    <div class="fly-cart__item-list scroll-block mb-52">
        {% for item in flyCartItems  %}
            <div class="fly-cart__item">
                <span class="fly-cart__item-age-label card-label _age">{{ item.age }}</span>
                <img class="fly-cart__item-img" src="{{ item.img }}" alt="{{ item.name }}">
                <div class="fly-cart__item-inner">
                    <button class="btn _only-icon fly-cart__item-del" type="button">
                        <svg class="icon"><use xlink:href="#trash"></use></svg>
                    </button>
                    <p class="fly-cart__item-series">{{ item.series }}</p>
                    <p class="fly-cart__item-note" style="color: {{ item.series_type_color }}">{{ item.note }}</p>
                    <p class="fly-cart__item-name mb-28">{{ item.name }}</p>
                    <div class="fly-cart__item-wrapper">
                        <div class="b-price">
                            {% if(item.price_old) %}
                                <span class="b-price__old">{{ item.price_old }}</span>
                            {% endif %}
                            <span class="b-price__current">{{ item.price }} ₽</span>
                        </div>
                        {% include '../components/custom/b-counter.twig' %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="fly-cart__promocode mb-28">
        <span class="fly-cart__promocode-title">Промокод</span>
        <div class="input fly-cart__promocode-input mb-16">
            <input class="input__text" type="text" name="flyCart_promocode" id="flyCart_promocode" placeholder="Введите промокод">
        </div>
        <button class="btn _border _c-primary fly-cart__promocode-btn" type="button">Активировать</button>
        <span class="fly-cart__promocode-sale">Скидка 20%</span>
    </div>
    <p class="fly-cart__total">Итого: 1 920 ₽</p>
    <button class="btn fly-cart__order" type="submit">Оформить заказ</button>
</section>