<section class="lk-menu mb-60">
    <ul class="lk-menu__list">
        {% for item in subMenu %}
            <li class="lk-menu__item">
                {% if item.status != 'active' %}
                    <a class="lk-menu__link btn _border" href="{{ item.link }}">{{ item.name }}</a>
                {% else %}
                    <span class="lk-menu__link btn _active">{{ item.name }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>