<section class="promo-section"
         style="--promoSectionBgColor: {{ item.colorBg }}; background: url('{{ item.img }}') no-repeat center; background-size: cover">
    <div class="container promo-section__container">
        <div class="promo-section__content">
            <h2 class="h1 promo__title">{{ item.title }}</h2>
            {% if(item.text) %}
                <p class="promo__text">{{ item.text }}</p>
            {% endif %}
            <a class="btn _border _white promo-section__link" href="{{ item.link }}">Подробнее</a>
        </div>
    </div>
</section>