.body {
    display: grid;
    min-height: 100vh;
    font-family: var(--f-primary);
    font-size: var(--f-s-body);
    line-height: 1.2;
    color: var(--c-text);
    background-color: var(--c-bg);
    &._no-scroll {
        overflow: hidden;
    }
}