.footer {
    align-self: flex-end;
    padding-bottom: 28px;
    font-size: var(--f-s-small);
    color: var(--c-lines);

    &__container {
        display: grid;
        grid-gap: 32px;
        padding-top: 36px;
        padding-bottom: 28px;
        border-top: var(--border);
        @media (--media-xl) {
            grid-template-columns: 0.5fr 1fr 0.5fr;
            grid-gap: 20px;
            align-items: center;
        }
    }

    &__contacts {
        display: grid;
        grid-gap: 12px;
    }

    &__contacts-link {
        color: inherit;
        @media (--media-xl) {
            text-align: right;
        }
    }

    &__menu-list {
        display: grid;
        grid-gap: 16px;
        @media (--media-xl) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            grid-gap: 0;
        }
    }

    &__menu-link {
        color: inherit;
    }

    &__copyright {
        margin-top: 20px;
        opacity: 0.7;
    }

    .container {
        @media (--media-xl) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .socials {
        @media (--media-xl) {
            justify-self: center;
        }
        &__list {
            align-items: flex-start;
            @media (--media-xl) {
                align-items: center;
            }
        }
    }

    .logo {
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}