.header {
    position: relative;
    z-index: 200;
    height: fit-content;
    padding: 8px 0;
    background-color: var(--c-bg);

    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__inner {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 16px;
        align-items: center;
        width: fit-content;
        margin-left: auto;
        @media (--media-md) {
            grid-gap: 28px;
        }

        .icon {
            width: 27px;
            height: 27px;
            fill: var(--c-white);
        }
    }

    .logo {
        margin-right: 20px;
        @media (--media-md) {
            margin-right: 52px;
        }
    }

    .main-menu {
        display: none;
        @media (--media-lg) {
            display: block;
        }
    }
}