.main-menu {
    &__list {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
        justify-content: center;
        @media (--media-lg) {
            grid-gap: 52px;
        }
    }

    &__item-link {
        font-size: var(--f-s-small);
        text-align: center;
        color: var(--c-text);
    }
}