.mobile-side {
    --topMenuHeight: var(--headerHeight);
    position: fixed;
    z-index: 120;
    top: var(--topMenuHeight);
    right: 0;
    width: 100vw;
    height: calc(100vh - var(--topMenuHeight));
    padding: 32px 16px 40px;
    background-color: var(--c-bg);
    overflow: auto;
    animation: mobileMenu 0.4s ease;
    @media (--media-lg) {
        display: none;
    }

    .container {
        overflow-y: auto;
    }

    .main-menu {
        margin-bottom: 40px;
        &__list {
            grid-auto-flow: dense;
            justify-content: flex-start;
        }

        &__item-link {
            font-size: var(--f-s-body);
        }
    }
}
