.accordion {
    display: grid;
    grid-gap: 16px;
    height: fit-content;

    &__item {
        padding-bottom: 16px;
        border-radius: var(--border-radius);
        text-align: left;

        .icon {
            fill: var(--c-white);
        }
    }

    &__item._active &__btn {
        margin-bottom: 16px;
        .icon._active {
            transform: rotate(180deg);
        }
    }

    &__item._active &__text {
        padding-top: 20px;
    }

    &__btn {
        display: grid;
        grid-template-columns: 1fr 24px;
        grid-gap: 16px;
        align-items: center;
        width: 100%;
        border: none;
        text-align: left;
        background-color: transparent;
        cursor: pointer;
    }

    &__btn-text {
        font-size: var(--f-s-h4);
        font-weight: 700;
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
}