.b-counter {
    --fontSizeCounter: var(--f-s-body-second);
    --inputColorCounter: var(--c-black);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 16px;
    width: fit-content;
    padding: 8px 16px;
    color: var(--inputColorCounter);
    background-color: var(--inputColorCounter);

    &__input {
        width: 40px;
        text-align: center;
        color: inherit;
        filter: invert(1);
        background-color: transparent;
    }

    &__btn {
        padding: 4px;
        font-size: 24px;
        line-height: 1;
        color: inherit;
        filter: invert(1);
        transition: var(--transition);
        &:hover {
            opacity: 0.7;
        }

        &[disabled='disabled'] {
            cursor: default;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
    }
}