.b-favorite {
    width: 60px;
    height: 60px !important;
    border: 2px solid var(--c-lines);
    border-left: none;

    &:hover {
        opacity: 1;
    }

    &:hover .icon, &._active {
        fill: var(--c-primary);
        opacity: 1;
    }

    .icon {
        width: 28px;
        height: 28px;
        transition: var(--transition);
    }
}