.breadcrumbs {
    --breadcrumbsFontSize: var(--f-s-small);
    --breadcrumbsColor: var(--c-bg);
    max-width: 100vw;
    padding: 20px 0 32px;
    @media (--media-md) {
        padding: 40px 0;
    }

    &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__item {
        position: relative;
        padding-right: 20px;
        margin-right: 16px;
        font-size: var(--breadcrumbsFontSize);
        color: var(--breadcrumbsColor);

        &:not(._active)::before {
            content: "/";
            position: absolute;
            top: 0;
            right: 0;
        }

        &._active {
            opacity: 0.6;
        }
    }

    &__link {
        font-size: inherit;
        white-space: nowrap;
        color: inherit;
    }
}