.socials {
    --socialIconSize: 27px;
    --socialIconFill: var(--c-lines);
    --socialIconFillHover: var(--c-primary);
    width: fit-content;
    &__list {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 20px;
        align-items: center;
        @media (--media-lg) {
            grid-gap: 48px;
        }
    }

    &__item {
        display: grid;
        place-items: center;
        &:hover .icon {
            fill: var(--socialIconFillHover);
        }
    }

    &__item-link {
        display: block;
        width: var(--socialIconSize);
        height: var(--socialIconSize);
    }

    .icon {
        width: 100%;
        height: 100%;
        fill: var(--socialIconFill);
    }
}